In [1]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotInteractableException,TimeoutException
import requests

# 1)

In [49]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.yatra.com/'
driver.get(url)

In [50]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()

In [107]:
Airline=[]
Date_of_Journey=[]
Source=[]
Destination=[]
Route=[]
Dep_Time=[]
Arrival_Time=[]
Duration=[]
Total_Stops=[]
Additional_Info=[]
Price=[]

In [108]:

d = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in d:
    Airline.append(i.text)

In [110]:

d = driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in d:
    Source.append(i.text)

In [112]:
Source1 = Source[0::2]

In [113]:
Destination = Source[1::2]

In [136]:
Total_Stops=[]
d = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm']|//span[@class='cursor-default']")
for i in d:
    Total_Stops.append(i.text)

In [116]:

d = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in d:
    Price.append(i.text)

In [117]:
d = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
for i in d:
    Duration.append(i.text)

In [118]:
d = driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in d:
    Dep_Time.append(i.text)

In [119]:
d = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in d:
    Arrival_Time.append(i.text)

In [138]:
df = pd.DataFrame({})
df["Airline"]=Airline
df["Source"]=Source1
df["Destination"]=Destination
df["Dep_Time"]= Dep_Time
df["Arrival_Time"]=Arrival_Time
df["Duration"]=Duration
df["Total_Stops"]=Total_Stops
df["Price"]=Price

In [139]:
df

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,Air Asia,New Delhi,Mumbai,09:25,16:00,6h 35m,1 Stop,"5,953"
1,Air Asia,New Delhi,Mumbai,12:40,20:15,7h 35m,1 Stop,"5,953"
2,Air Asia,New Delhi,Mumbai,11:55,20:15,8h 20m,1 Stop,"5,953"
3,Air Asia,New Delhi,Mumbai,18:35,06:20\n+ 1 day,11h 45m,1 Stop,"5,953"
4,Air Asia,New Delhi,Mumbai,16:15,06:20\n+ 1 day,14h 05m,1 Stop,"5,953"
...,...,...,...,...,...,...,...,...
145,Air India,New Delhi,Mumbai,07:15,15:50,8h 35m,1 Stop,"14,355"
146,SpiceJet,New Delhi,Mumbai,16:40,16:55\n+ 1 day,24h 15m,1 Stop,"14,858"
147,IndiGo,New Delhi,Mumbai,13:50,19:30,5h 40m,1 Stop,"15,773"
148,IndiGo,New Delhi,Mumbai,08:55,19:30,10h 35m,1 Stop,"15,773"
149,Air India,New Delhi,Mumbai,06:20,20:00,13h 40m,1 Stop,"18,135"

In [140]:
df.to_csv("flight1.csv")

In [141]:
driver.close()

# 2)

In [44]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.yatra.com/'
driver.get(url)

In [82]:
search_bar = driver.find_element_by_id("BE_flight_origin_city").click()

In [83]:
driver.find_element_by_xpath("//div[@class='viewport']//div[2]").click()

In [84]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[3]/div[1]/p[1]').click()

In [86]:
driver.find_element_by_name('flight_origin_date').click()

In [87]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[2]/ul/li[1]/section/div/div[2]/div[2]/div[2]/div[1]/div/div/table/tbody/tr[3]/td[1]').click()

In [88]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()

In [89]:
Airline=[]
Date_of_Journey=[]
Source=[]
Destination=[]
Route=[]
Dep_Time=[]
Arrival_Time=[]
Duration=[]
Total_Stops=[]
Additional_Info=[]
Price=[]

In [90]:

d = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in d:
    Airline.append(i.text)

In [92]:

d = driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in d:
    Source.append(i.text)

In [94]:
Source1 = Source[0::2]

In [95]:
Destination = Source[1::2]

In [96]:
Total_Stops=[]
d = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm']|//span[@class='cursor-default']")
for i in d:
    Total_Stops.append(i.text)

In [97]:

d = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in d:
    Price.append(i.text)

In [98]:
d = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
for i in d:
    Duration.append(i.text)

In [99]:
d = driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in d:
    Dep_Time.append(i.text)

In [100]:
d = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in d:
    Arrival_Time.append(i.text)

In [101]:
df = pd.DataFrame({})
df["Airline"]=Airline
df["Source"]=Source1
df["Destination"]=Destination
df["Dep_Time"]= Dep_Time
df["Arrival_Time"]=Arrival_Time
df["Duration"]=Duration
df["Total_Stops"]=Total_Stops
df["Price"]=Price

In [102]:
df

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,Air Asia,New Delhi,Bangalore,08:50,14:00,5h 10m,1 Stop,"7,422"
1,Go First,New Delhi,Bangalore,06:00,16:55,10h 55m,1 Stop,"7,424"
2,Go First,New Delhi,Bangalore,05:45,17:05,11h 20m,1 Stop,"7,424"
3,Go First,New Delhi,Bangalore,08:45,20:50,12h 05m,1 Stop,"7,424"
4,SpiceJet,New Delhi,Bangalore,06:15,08:50,2h 35m,Non Stop,"7,425"
...,...,...,...,...,...,...,...,...
143,Air India,New Delhi,Bangalore,13:30,16:15,2h 45m,Non Stop,"20,340"
144,IndiGo,New Delhi,Bangalore,07:40,14:05,6h 25m,1 Stop,"20,393"
145,Vistara,New Delhi,Bangalore,13:40,18:30,4h 50m,1 Stop,"21,233"
146,SpiceJet,New Delhi,Bangalore,18:40,11:30\n+ 1 day,16h 50m,1 Stop,"22,021"
147,Air India,New Delhi,Bangalore,07:00,23:20,16h 20m,1 Stop,"26,640"

In [103]:
df.to_csv('flight2.csv')

In [104]:
driver.close()

# 3)

In [151]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.yatra.com/'
driver.get(url)

In [152]:
search_bar = driver.find_element_by_id("BE_flight_origin_city").click()

In [153]:
driver.find_element_by_xpath("//div[@class='viewport']//div[2]").click()

In [154]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[4]/div[1]/p[1]').click()

In [155]:
driver.find_element_by_name('flight_origin_date').click()

In [156]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[2]/ul/li[1]/section/div/div[2]/div[2]/div[2]/div[1]/div/div/table/tbody/tr[3]/td[1]').click()

In [157]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()

In [170]:
Airline=[]
Source=[]
Destination=[]
Dep_Time=[]
Arrival_Time=[]
Duration=[]
Total_Stops=[]
Price=[]

In [171]:

d = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in d:
    Airline.append(i.text)

In [172]:

d = driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in d:
    Source.append(i.text)

In [173]:
Source1 = Source[0::2]
Destination = Source[1::2]

In [174]:

d = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm']|//span[@class='cursor-default']")
for i in d:
    Total_Stops.append(i.text)

In [175]:

d = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in d:
    Price.append(i.text)

In [176]:
d = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
for i in d:
    Duration.append(i.text)

In [177]:
d = driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in d:
    Dep_Time.append(i.text)

In [178]:
d = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in d:
    Arrival_Time.append(i.text)

In [179]:
df = pd.DataFrame({})
df["Airline"]=Airline
df["Source"]=Source1
df["Destination"]=Destination
df["Dep_Time"]= Dep_Time
df["Arrival_Time"]=Arrival_Time
df["Duration"]=Duration
df["Total_Stops"]=Total_Stops
df["Price"]=Price

In [180]:
df

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,Air Asia,New Delhi,Chennai,05:35,20:30,14h 55m,1 Stop,"7,423"
1,SpiceJet,New Delhi,Chennai,06:50,00:05\n+ 1 day,17h 15m,1 Stop,"7,425"
2,Go First,New Delhi,Chennai,16:10,23:50,7h 40m,1 Stop,"7,426"
3,Go First,New Delhi,Chennai,09:00,23:15,14h 15m,1 Stop,"7,426"
4,SpiceJet,New Delhi,Chennai,18:40,23:10,4h 30m,1 Stop,"7,530"
...,...,...,...,...,...,...,...,...
128,Air India,New Delhi,Chennai,16:35,07:15\n+ 1 day,14h 40m,3 Stop(s),"25,170"
129,Air India,New Delhi,Chennai,16:35,10:55\n+ 1 day,18h 20m,3 Stop(s),"25,170"
130,Air India,New Delhi,Chennai,16:35,10:55\n+ 1 day,18h 20m,3 Stop(s),"25,170"
131,Vistara,New Delhi,Chennai,07:30,20:25,12h 55m,2 Stop(s),"32,310"
132,Vistara,New Delhi,Chennai,06:20,20:25,14h 05m,2 Stop(s),"33,570"

In [181]:
df.to_csv('flight3.csv')

In [182]:
driver.close()

# 4)

In [127]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.yatra.com/'
driver.get(url)

In [130]:
search_bar = driver.find_element_by_id("BE_flight_origin_city").click()

In [131]:
driver.find_element_by_xpath("//div[@class='viewport']//div[2]").click()

In [132]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[5]/div[1]/p[1]').click()

In [133]:
driver.find_element_by_name('flight_origin_date').click()

In [134]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[2]/ul/li[1]/section/div/div[2]/div[2]/div[2]/div[1]/div/div/table/tbody/tr[3]/td[1]').click()

In [135]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()

In [145]:
Airline=[]
Source=[]
Destination=[]
Dep_Time=[]
Arrival_Time=[]
Duration=[]
Total_Stops=[]
Price=[]

In [146]:

d = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in d:
    Airline.append(i.text)
    

d = driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in d:
    Source.append(i.text)
    

d = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm']|//span[@class='cursor-default']")
for i in d:
    Total_Stops.append(i.text)


d = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in d:
    Price.append(i.text)

d = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
for i in d:
    Duration.append(i.text)
    
d = driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in d:
    Dep_Time.append(i.text)
    
d = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in d:
    Arrival_Time.append(i.text)
    
Source1 = Source[0::2]
Destination = Source[1::2]

In [147]:
df = pd.DataFrame({})
df["Airline"]=Airline
df["Source"]=Source1
df["Destination"]=Destination
df["Dep_Time"]= Dep_Time
df["Arrival_Time"]=Arrival_Time
df["Duration"]=Duration
df["Total_Stops"]=Total_Stops
df["Price"]=Price

In [148]:
df

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,Go First,New Delhi,Hyderabad,10:45,12:45,2h 00m,Non Stop,"5,954"
1,IndiGo,New Delhi,Hyderabad,07:10,09:20,2h 10m,Non Stop,"5,955"
2,Vistara,New Delhi,Hyderabad,07:10,09:25,2h 15m,Non Stop,"5,955"
3,IndiGo,New Delhi,Hyderabad,05:55,08:15,2h 20m,Non Stop,"5,955"
4,Air Asia,New Delhi,Hyderabad,05:35,07:45,2h 10m,Non Stop,"5,956"
...,...,...,...,...,...,...,...,...
97,Air India,New Delhi,Hyderabad,21:15,09:45\n+ 1 day,12h 30m,2 Stop(s),"21,915"
98,Air India,New Delhi,Hyderabad,21:15,18:55\n+ 1 day,21h 40m,2 Stop(s),"21,915"
99,Air India,New Delhi,Hyderabad,21:15,20:15\n+ 1 day,23h 00m,1 Stop,"21,915"
100,Air India,New Delhi,Hyderabad,13:30,20:15,6h 45m,1 Stop,"22,703"
101,Air India,New Delhi,Hyderabad,07:00,21:15,14h 15m,1 Stop,"31,050"

In [149]:
df.to_csv('flight4.csv')

In [150]:
driver.close()

# 5)

In [183]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.yatra.com/'
driver.get(url)

In [187]:
search_bar = driver.find_element_by_id("BE_flight_origin_city").click()

In [188]:
driver.find_element_by_xpath("//div[@class='viewport']//div[2]").click()

In [189]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[6]/div[1]/p[1]').click()

In [190]:
driver.find_element_by_name('flight_origin_date').click()

In [191]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[2]/ul/li[1]/section/div/div[2]/div[2]/div[2]/div[1]/div/div/table/tbody/tr[3]/td[1]').click()

In [192]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()

In [193]:
Airline=[]
Source=[]
Destination=[]
Dep_Time=[]
Arrival_Time=[]
Duration=[]
Total_Stops=[]
Price=[]

In [194]:

d = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in d:
    Airline.append(i.text)
    

d = driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in d:
    Source.append(i.text)
    

d = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm']|//span[@class='cursor-default']")
for i in d:
    Total_Stops.append(i.text)


d = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in d:
    Price.append(i.text)

d = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
for i in d:
    Duration.append(i.text)
    
d = driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in d:
    Dep_Time.append(i.text)
    
d = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in d:
    Arrival_Time.append(i.text)
    
Source1 = Source[0::2]
Destination = Source[1::2]

In [195]:
df = pd.DataFrame({})
df["Airline"]=Airline
df["Source"]=Source1
df["Destination"]=Destination
df["Dep_Time"]= Dep_Time
df["Arrival_Time"]=Arrival_Time
df["Duration"]=Duration
df["Total_Stops"]=Total_Stops
df["Price"]=Price

In [196]:
df

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,Air Asia,New Delhi,Goa,05:35,12:25,6h 50m,1 Stop,"7,422"
1,Air Asia,New Delhi,Goa,05:35,15:00,9h 25m,1 Stop,"7,422"
2,Air Asia,New Delhi,Goa,08:50,18:25,9h 35m,1 Stop,"7,422"
3,Air Asia,New Delhi,Goa,19:55,07:25\n+ 1 day,11h 30m,1 Stop,"7,422"
4,Air Asia,New Delhi,Goa,18:35,07:00\n+ 1 day,12h 25m,1 Stop,"7,422"
...,...,...,...,...,...,...,...,...
128,Vistara,New Delhi,Goa,14:10,13:50\n+ 1 day,23h 40m,1 Stop,"17,190"
129,Air India,New Delhi,Goa,21:25,10:50\n+ 1 day,13h 25m,2 Stop(s),"18,030"
130,Air India,New Delhi,Goa,16:35,10:50\n+ 1 day,18h 15m,3 Stop(s),"19,605"
131,Air India,New Delhi,Goa,09:45,10:50\n+ 1 day,25h 05m,2 Stop(s),"19,605"
132,IndiGo,New Delhi,Goa,09:50,17:25,7h 35m,1 Stop,"23,595"

In [197]:
df.to_csv('flight5.csv')

In [198]:
driver.close()

# 6)

In [199]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.yatra.com/'
driver.get(url)

In [206]:
driver.find_element_by_id("BE_flight_origin_city").click()

In [207]:
driver.find_element_by_xpath("//div[@class='viewport']//div[2]").click()

In [208]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[6]/div[1]/p[1]').click()

In [210]:
driver.find_element_by_name('flight_origin_date').click()

In [211]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[2]/ul/li[1]/section/div/div[2]/div[2]/div[2]/div[1]/div/div/table/tbody/tr[3]/td[1]').click()

In [212]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()

In [214]:
Airline=[]
Source=[]
Destination=[]
Dep_Time=[]
Arrival_Time=[]
Duration=[]
Total_Stops=[]
Price=[]

d = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in d:
    Airline.append(i.text)
    

d = driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in d:
    Source.append(i.text)
    

d = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm']|//span[@class='cursor-default']")
for i in d:
    Total_Stops.append(i.text)


d = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in d:
    Price.append(i.text)

d = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
for i in d:
    Duration.append(i.text)
    
d = driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in d:
    Dep_Time.append(i.text)
    
d = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in d:
    Arrival_Time.append(i.text)
    
Source1 = Source[0::2]
Destination = Source[1::2]

In [215]:
df = pd.DataFrame({})
df["Airline"]=Airline
df["Source"]=Source1
df["Destination"]=Destination
df["Dep_Time"]= Dep_Time
df["Arrival_Time"]=Arrival_Time
df["Duration"]=Duration
df["Total_Stops"]=Total_Stops
df["Price"]=Price
df

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,Air Asia,New Delhi,Goa,05:35,12:25,6h 50m,1 Stop,"7,422"
1,Air Asia,New Delhi,Goa,05:35,15:00,9h 25m,1 Stop,"7,422"
2,Air Asia,New Delhi,Goa,08:50,18:25,9h 35m,1 Stop,"7,422"
3,Air Asia,New Delhi,Goa,19:55,07:25\n+ 1 day,11h 30m,1 Stop,"7,422"
4,Air Asia,New Delhi,Goa,18:35,07:00\n+ 1 day,12h 25m,1 Stop,"7,422"
...,...,...,...,...,...,...,...,...
128,Vistara,New Delhi,Goa,14:10,13:50\n+ 1 day,23h 40m,1 Stop,"17,190"
129,Air India,New Delhi,Goa,21:25,10:50\n+ 1 day,13h 25m,2 Stop(s),"18,030"
130,Air India,New Delhi,Goa,16:35,10:50\n+ 1 day,18h 15m,3 Stop(s),"19,605"
131,Air India,New Delhi,Goa,09:45,10:50\n+ 1 day,25h 05m,2 Stop(s),"19,605"
132,IndiGo,New Delhi,Goa,09:50,17:25,7h 35m,1 Stop,"23,595"

In [216]:
df.to_csv('flight6.csv')

In [217]:
driver.close()

# 7)

In [255]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.yatra.com/'
driver.get(url)

In [259]:
driver.find_element_by_id("BE_flight_origin_city").click()

In [260]:
driver.find_element_by_xpath("//div[@class='viewport']//div[2]").click()

In [261]:
driver.find_element_by_xpath('//*[@id="BE_flight_form_wrapper"]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[7]/div[1]/p[1]').click()

In [262]:
driver.find_element_by_name('flight_origin_date').click()

In [263]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[2]/ul/li[1]/section/div/div[2]/div[2]/div[2]/div[1]/div/div/table/tbody/tr[3]/td[1]').click()

In [264]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()

In [265]:
Airline=[]
Source=[]
Destination=[]
Dep_Time=[]
Arrival_Time=[]
Duration=[]
Total_Stops=[]
Price=[]

d = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in d:
    Airline.append(i.text)
    

d = driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in d:
    Source.append(i.text)
    

d = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm']|//span[@class='cursor-default']")
for i in d:
    Total_Stops.append(i.text)


d = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in d:
    Price.append(i.text)

d = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
for i in d:
    Duration.append(i.text)
    
d = driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in d:
    Dep_Time.append(i.text)
    
d = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in d:
    Arrival_Time.append(i.text)
    
Source1 = Source[0::2]
Destination = Source[1::2]

In [267]:
driver.close()

# 8)

In [268]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.yatra.com/'
driver.get(url)

In [269]:
driver.find_element_by_id("BE_flight_origin_city").click()

In [270]:
driver.find_element_by_xpath("//div[@class='viewport']//div[2]").click()

In [271]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[9]/div[1]/p[1]').click()

In [272]:
driver.find_element_by_name('flight_origin_date').click()

In [273]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[2]/ul/li[1]/section/div/div[2]/div[2]/div[2]/div[1]/div/div/table/tbody/tr[3]/td[1]').click()

In [274]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()

In [275]:
d = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in d:
    Airline.append(i.text)
    

d = driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in d:
    Source.append(i.text)
    

d = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm']|//span[@class='cursor-default']")
for i in d:
    Total_Stops.append(i.text)


d = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in d:
    Price.append(i.text)

d = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
for i in d:
    Duration.append(i.text)
    
d = driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in d:
    Dep_Time.append(i.text)
    
d = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in d:
    Arrival_Time.append(i.text)
    
Source1 = Source[0::2]
Destination = Source[1::2]

In [276]:
df = pd.DataFrame({})
df["Airline"]=Airline
df["Source"]=Source1
df["Destination"]=Destination
df["Dep_Time"]= Dep_Time
df["Arrival_Time"]=Arrival_Time
df["Duration"]=Duration
df["Total_Stops"]=Total_Stops
df["Price"]=Price
df

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,Air Asia,New Delhi,Kolkata,08:50,20:50,12h 00m,2 Stop(s),"5,951"
1,SpiceJet,New Delhi,Kolkata,07:30,13:50,6h 20m,1 Stop,"5,954"
2,SpiceJet,New Delhi,Kolkata,07:30,16:50,9h 20m,1 Stop,"5,954"
3,Go First,New Delhi,Kolkata,09:00,00:05\n+ 1 day,15h 05m,1 Stop,"5,954"
4,SpiceJet,New Delhi,Kolkata,20:50,21:05\n+ 1 day,24h 15m,1 Stop,"5,954"
...,...,...,...,...,...,...,...,...
156,Air India,New Delhi,Jaipur,08:00,13:15,5h 15m,1 Stop,"19,815"
157,Air India,New Delhi,Jaipur,07:00,13:15,6h 15m,1 Stop,"19,815"
158,Air India,New Delhi,Jaipur,09:45,09:20\n+ 1 day,23h 35m,1 Stop,"23,490"
159,Air India,New Delhi,Jaipur,21:15,09:20\n+ 1 day,12h 05m,1 Stop,"25,065"
160,Air India,New Delhi,Jaipur,13:30,09:20\n+ 1 day,19h 50m,1 Stop,"25,065"

In [277]:
df.to_csv('flight7.csv')

In [278]:
driver.close()

# 9)

In [279]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.yatra.com/'
driver.get(url)

In [293]:
driver.find_element_by_id("BE_flight_origin_city").click()

In [295]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[2]/div[1]/p[1]').click()

In [296]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[3]/div[1]/p[1]').click()

In [297]:
driver.find_element_by_name('flight_origin_date').click()

In [298]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[2]/ul/li[1]/section/div/div[2]/div[2]/div[2]/div[1]/div/div/table/tbody/tr[3]/td[1]').click()

In [299]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()

In [305]:
Airline=[]
Source=[]
Destination=[]
Dep_Time=[]
Arrival_Time=[]
Duration=[]
Total_Stops=[]
Price=[]

d = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in d:
    Airline.append(i.text)
    

d = driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in d:
    Source.append(i.text)
    

d = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm']|//span[@class='cursor-default']")
for i in d:
    Total_Stops.append(i.text)


d = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in d:
    Price.append(i.text)

d = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
for i in d:
    Duration.append(i.text)
    
d = driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in d:
    Dep_Time.append(i.text)
    
d = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in d:
    Arrival_Time.append(i.text)
    
Source1 = Source[0::2]
Destination = Source[1::2]

In [307]:
driver.close()

# 10)

In [308]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.yatra.com/'
driver.get(url)

In [322]:
driver.find_element_by_id("BE_flight_origin_city").click()

In [325]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[2]/div[1]/p[1]').click()

In [326]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[4]/div[1]/p[1]').click()

In [327]:
driver.find_element_by_name('flight_origin_date').click()

In [328]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[2]/ul/li[1]/section/div/div[2]/div[2]/div[2]/div[1]/div/div/table/tbody/tr[3]/td[1]').click()

In [329]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()

In [330]:
d = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in d:
    Airline.append(i.text)
    

d = driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in d:
    Source.append(i.text)
    

d = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm']|//span[@class='cursor-default']")
for i in d:
    Total_Stops.append(i.text)


d = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in d:
    Price.append(i.text)

d = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
for i in d:
    Duration.append(i.text)
    
d = driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in d:
    Dep_Time.append(i.text)
    
d = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in d:
    Arrival_Time.append(i.text)
    
Source1 = Source[0::2]
Destination = Source[1::2]

In [333]:
driver.close()

# 11)

In [335]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.yatra.com/'
driver.get(url)

In [336]:
driver.find_element_by_id("BE_flight_origin_city").click()

In [342]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[2]/div[1]/p[1]').click()

In [341]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[5]/div[1]/p[1]').click()

In [343]:
driver.find_element_by_name('flight_origin_date').click()

In [344]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[2]/ul/li[1]/section/div/div[2]/div[2]/div[2]/div[1]/div/div/table/tbody/tr[3]/td[1]').click()

In [345]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()

In [346]:
d = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in d:
    Airline.append(i.text)
    

d = driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in d:
    Source.append(i.text)
    

d = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm']|//span[@class='cursor-default']")
for i in d:
    Total_Stops.append(i.text)


d = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in d:
    Price.append(i.text)

d = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
for i in d:
    Duration.append(i.text)
    
d = driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in d:
    Dep_Time.append(i.text)
    
d = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in d:
    Arrival_Time.append(i.text)
    
Source1 = Source[0::2]
Destination = Source[1::2]

In [348]:
driver.close()

# 12)

In [349]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.yatra.com/'
driver.get(url)

In [354]:
driver.find_element_by_id("BE_flight_origin_city").click()

In [356]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[2]/div[1]/p[1]').click()

In [357]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[5]/div[1]/p[1]').click()

In [358]:
driver.find_element_by_name('flight_origin_date').click()

In [359]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[2]/ul/li[1]/section/div/div[2]/div[2]/div[2]/div[1]/div/div/table/tbody/tr[3]/td[1]').click()

In [360]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()

In [361]:
d = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in d:
    Airline.append(i.text)
    

d = driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in d:
    Source.append(i.text)
    

d = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm']|//span[@class='cursor-default']")
for i in d:
    Total_Stops.append(i.text)


d = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in d:
    Price.append(i.text)

d = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
for i in d:
    Duration.append(i.text)
    
d = driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in d:
    Dep_Time.append(i.text)
    
d = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in d:
    Arrival_Time.append(i.text)
    
Source1 = Source[0::2]
Destination = Source[1::2]

In [364]:
driver.close()

# 13)

In [365]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.yatra.com/'
driver.get(url)

In [366]:
driver.find_element_by_id("BE_flight_origin_city").click()

In [368]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[2]/div[1]/p[1]').click()

In [370]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[6]/div[1]/p[1]').click()

In [371]:
driver.find_element_by_name('flight_origin_date').click()

In [372]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[2]/ul/li[1]/section/div/div[2]/div[2]/div[2]/div[1]/div/div/table/tbody/tr[3]/td[1]').click()

In [373]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()

In [374]:
d = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in d:
    Airline.append(i.text)
    

d = driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in d:
    Source.append(i.text)
    

d = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm']|//span[@class='cursor-default']")
for i in d:
    Total_Stops.append(i.text)


d = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in d:
    Price.append(i.text)

d = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
for i in d:
    Duration.append(i.text)
    
d = driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in d:
    Dep_Time.append(i.text)
    
d = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in d:
    Arrival_Time.append(i.text)
    
Source1 = Source[0::2]
Destination = Source[1::2]

In [376]:
driver.close()

# 14)

In [377]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.yatra.com/'
driver.get(url)

In [378]:
driver.find_element_by_id("BE_flight_origin_city").click()

In [379]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[2]/div[1]/p[1]').click()

In [381]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[1]/ul/li[3]/div/div/ul/div/div/div/li[7]/div[1]/p[1]').click()

In [382]:
driver.find_element_by_name('flight_origin_date').click()

In [383]:
driver.find_element_by_xpath('/html/body/div[2]/div/section/div[1]/div/div[1]/section/div/div/div/div[1]/div[1]/div[2]/ul/li[2]/ul/li[1]/section/div/div[2]/div[2]/div[2]/div[1]/div/div/table/tbody/tr[3]/td[1]').click()

In [384]:
driver.find_element_by_id("BE_flight_flsearch_btn").click()

In [385]:
d = driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
for i in d:
    Airline.append(i.text)
    

d = driver.find_elements_by_xpath("//p[@class='fs-10 font-lightgrey no-wrap city ellipsis']")
for i in d:
    Source.append(i.text)
    

d = driver.find_elements_by_xpath("//span[@class='dotted-borderbtm']|//span[@class='cursor-default']")
for i in d:
    Total_Stops.append(i.text)


d = driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
for i in d:
    Price.append(i.text)

d = driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']/p")
for i in d:
    Duration.append(i.text)
    
d = driver.find_elements_by_xpath("//div[@class='i-b pr']")
for i in d:
    Dep_Time.append(i.text)
    
d = driver.find_elements_by_xpath("//p[@class='bold fs-15 mb-2 pr time']")
for i in d:
    Arrival_Time.append(i.text)
    
Source1 = Source[0::2]
Destination = Source[1::2]

In [386]:
df = pd.DataFrame({})
df["Airline"]=Airline
df["Source"]=Source1
df["Destination"]=Destination
df["Dep_Time"]= Dep_Time
df["Arrival_Time"]=Arrival_Time
df["Duration"]=Duration
df["Total_Stops"]=Total_Stops
df["Price"]=Price
df

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,Air Asia,Mumbai,Bangalore,14:55,20:25,5h 30m,1 Stop,"5,101"
1,Air Asia,Mumbai,Bangalore,14:55,22:25,7h 30m,1 Stop,"5,101"
2,Air Asia,Mumbai,Bangalore,16:35,01:00\n+ 1 day,8h 25m,1 Stop,"5,101"
3,Go First,Mumbai,Bangalore,06:05,07:45,1h 40m,Non Stop,"5,102"
4,Go First,Mumbai,Bangalore,22:15,00:05\n+ 1 day,1h 50m,Non Stop,"5,102"
...,...,...,...,...,...,...,...,...
641,Go First,Mumbai,Kolkata,16:10,21:55,5h 45m,1 Stop,"25,499"
642,Go First,Mumbai,Kolkata,08:30,21:55,13h 25m,1 Stop,"26,077"
643,Air India,Mumbai,Kolkata,12:00,16:00,4h 00m,1 Stop,"26,418"
644,Vistara,Mumbai,Kolkata,09:05,16:55,7h 50m,2 Stop(s),"27,626"
645,Vistara,Mumbai,Kolkata,12:15,19:35,7h 20m,2 Stop(s),"29,411"

In [387]:
df.to_csv('flight8.csv')

In [388]:
driver.close()

In [389]:
df1=pd.read_csv("flight1.csv")
df2=pd.read_csv("flight2.csv")
df3=pd.read_csv("flight3.csv")
df4=pd.read_csv("flight4.csv")
df5=pd.read_csv("flight5.csv")
df6=pd.read_csv("flight6.csv")
df7=pd.read_csv("flight7.csv")
df8=pd.read_csv("flight8.csv")
flight = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8],axis=0)
flight

,Unnamed: 0,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Price
0,0,Air Asia,New Delhi,Mumbai,09:25,16:00,6h 35m,1 Stop,"5,953"
1,1,Air Asia,New Delhi,Mumbai,12:40,20:15,7h 35m,1 Stop,"5,953"
2,2,Air Asia,New Delhi,Mumbai,11:55,20:15,8h 20m,1 Stop,"5,953"
3,3,Air Asia,New Delhi,Mumbai,18:35,06:20\n+ 1 day,11h 45m,1 Stop,"5,953"
4,4,Air Asia,New Delhi,Mumbai,16:15,06:20\n+ 1 day,14h 05m,1 Stop,"5,953"
...,...,...,...,...,...,...,...,...,...
641,641,Go First,Mumbai,Kolkata,16:10,21:55,5h 45m,1 Stop,"25,499"
642,642,Go First,Mumbai,Kolkata,08:30,21:55,13h 25m,1 Stop,"26,077"
643,643,Air India,Mumbai,Kolkata,12:00,16:00,4h 00m,1 Stop,"26,418"
644,644,Vistara,Mumbai,Kolkata,09:05,16:55,7h 50m,2 Stop(s),"27,626"
645,645,Vistara,Mumbai,Kolkata,12:15,19:35,7h 20m,2 Stop(s),"29,411"

In [390]:
flight.to_csv("Flight Price Prediction.csv")