In [194]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotInteractableException
import requests
import re

# 1

1. Write a python program which searches all the product under a particular product from www.amazon.in. The 
product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for 
guitars. 
2. In the above question, now scrape the following details of each product listed in first 3 pages of your search 
results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then 
scrape all the products available under that product name. Details to be scraped are: "Brand 
Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and 
“Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [82]:
driver = webdriver.Chrome(r'C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe')
url = 'https://www.amazon.in/'
driver.get(url)

In [83]:
user_inp = input("Enter the product:")

Enter the product:watch

In [84]:
search_bar = driver.find_element_by_id("twotabsearchtextbox")
search_bar.clear()
search_bar.send_keys(user_inp)
search_button = driver.find_element_by_id("nav-search-submit-button")
search_button.click()

In [85]:
url=[]
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']"):
        url.append(j.get_attribute("href"))
    # navigate to the next page
    next_button = driver.find_element_by_xpath('//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
    next_button.click()
                                              
    # wait for the page to load
    time.sleep(5)

In [86]:
len(url)

202

In [87]:
Brand_Name=[]
Name_of_the_Product=[]
Price=[]
Return_Exchange=[]
Delivery=[]
Availability=[]

In [88]:
for i in url:
    driver.get(i)
    time.sleep(5)
    
    
    try:
        j = driver.find_element_by_id("bylineInfo")
        Brand_Name.append(j.text)
    except NoSuchElementException:
        Brand_Name.append('-')
        
    try:
        k = driver.find_element_by_id("productTitle")
        Name_of_the_Product.append(k.text)
    except NoSuchElementException:
        Name_of_the_Product.append('-')
        
    try:
        l = driver.find_element_by_xpath("//span[@class ='a-price-whole']")
        Price.append(l.text)
    except NoSuchElementException:
        Price.append('-')
        
    try:
        m = driver.find_element_by_xpath("//span[@class= 'a-text-bold']")
        Delivery.append(m.text)
    except NoSuchElementException:
        Delivery.append('-')
        
    try:
        o = driver.find_element_by_xpath('//*[@id="RETURNS_POLICY"]/span/div[2]/a')                       
        Return_Exchange.append(o.text)
    except NoSuchElementException:
        Return_Exchange.append('-')
        
    try:
        q =driver.find_element_by_id("availability")
        Availability.append(q.text)
    except NoSuchElementException:
        Availability.append('-')

In [91]:
df = pd.DataFrame({})
df["Brand"] =  Brand_Name
df["product"] = Name_of_the_Product
df["Price"] = Price
df["Return/Exchange"] = Return_Exchange
df["Availability"] = Availability
df["Delivery"] = Delivery
df["URL"] = url
df

,Brand,product,Price,Return/Exchange,Availability,Delivery,URL
0,Visit the Tommy Hilfiger Store,Tommy Hilfiger Bank Blue Men Watch TH1791721/N...,"11,996",10 days Returnable,Only 2 left in stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,Visit the Tommy Hilfiger Store,Tommy Hilfiger Bank Black Men Watch TH1791724/...,"8,697",10 days Returnable,Only 2 left in stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,Visit the Tommy Hilfiger Store,Tommy Hilfiger Chronograph Analog Watch For Me...,"8,799",10 days Returnable,In stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
3,Visit the Citizen Store,Citizen Analog Black Dial Men's Watch-BI5100-58E,"10,500",10 days Returnable,In stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
4,Visit the Fire-Boltt Store,"Fire-Boltt Ninja 3 1.83"" Display Smartwatch Fu...","1,099",7 days Replacement,In stock,"Wednesday, 19 April",https://www.amazon.in/Fire-Boltt-Display-Smart...
...,...,...,...,...,...,...,...
197,Brand: HEMT,HEMT Analogue Men's Watch (Multicolored Dial M...,429,10 days Returnable,In stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
198,Visit the Fossil Store,Fossil Chronograph White Dial Men's Watch-CH2882,"4,935",10 days Returnable,In stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
199,Visit the Titan Store,Titan Digital Clear Dial Boy's Watch-16023PP01,"1,395",10 days Returnable,In stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
200,Visit the WRIGHTRACK Store,WRIGHTRACK Analogue Men's Watch (White Dial Br...,395,10 days Returnable,In stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
201,Visit the boAt Store,"boAt Wave Call Smart Watch, Smart Talk with Ad...","1,599",7 days Replacement,In stock,"Sunday, 16 April",https://www.amazon.in/boAt-Wave-Call-Dedicated...

In [93]:
df["Brand"]=df["Brand"].str.strip("Visit the")

In [94]:
df

,Brand,product,Price,Return/Exchange,Availability,Delivery,URL
0,Tommy Hilfiger Stor,Tommy Hilfiger Bank Blue Men Watch TH1791721/N...,"11,996",10 days Returnable,Only 2 left in stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,Tommy Hilfiger Stor,Tommy Hilfiger Bank Black Men Watch TH1791724/...,"8,697",10 days Returnable,Only 2 left in stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,Tommy Hilfiger Stor,Tommy Hilfiger Chronograph Analog Watch For Me...,"8,799",10 days Returnable,In stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
3,Citizen Stor,Citizen Analog Black Dial Men's Watch-BI5100-58E,"10,500",10 days Returnable,In stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
4,Fire-Boltt Stor,"Fire-Boltt Ninja 3 1.83"" Display Smartwatch Fu...","1,099",7 days Replacement,In stock,"Wednesday, 19 April",https://www.amazon.in/Fire-Boltt-Display-Smart...
...,...,...,...,...,...,...,...
197,Brand: HEMT,HEMT Analogue Men's Watch (Multicolored Dial M...,429,10 days Returnable,In stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
198,Fossil Stor,Fossil Chronograph White Dial Men's Watch-CH2882,"4,935",10 days Returnable,In stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
199,Titan Stor,Titan Digital Clear Dial Boy's Watch-16023PP01,"1,395",10 days Returnable,In stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
200,WRIGHTRACK Stor,WRIGHTRACK Analogue Men's Watch (White Dial Br...,395,10 days Returnable,In stock,,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
201,boAt Stor,"boAt Wave Call Smart Watch, Smart Talk with Ad...","1,599",7 days Replacement,In stock,"Sunday, 16 April",https://www.amazon.in/boAt-Wave-Call-Dedicated...

In [95]:
driver.close()

# 2

Write a python program to access the search bar and search button on images.google.com and scrape 10 
images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [101]:
driver = webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
url = 'https://images.google.com/?gws_rd=ssl'
driver.get(url)

In [105]:
search_bar = driver.find_element_by_xpath('//*[@id="APjFqb"]')
search_bar.send_keys("fruits")
search_button = driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span')
search_button.click()

In [106]:
# keep scrolling down the webpage untill it cannot scroll no more
for i in range(500):
    driver.execute_script("window.scrollBy(0,10000)")

In [107]:
images =  driver.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")

In [108]:
img_urls = []
img_data = []

# getting the url of each images
for image in images:
    source = image.get_attribute('src')
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)

In [109]:
#downloading all images
for i in range(len(img_urls)):
    if i >= 10:
        break
    print("Downloading {0} of {1} images".format(i,10)) 
    response = requests.get(img_urls[i])
    file = open(r"C:\Users\USER\scrap image"+ str(i)+".jpg","wb")
    file.write(response.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images

In [110]:
driver.close()

In [111]:
driver = webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
url = 'https://images.google.com/?gws_rd=ssl'
driver.get(url)

In [113]:
search_bar = driver.find_element_by_xpath('//*[@id="APjFqb"]')
search_bar.send_keys("cars")
search_button = driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span')
search_button.click()

In [114]:
for i in range(500):
    driver.execute_script("window.scrollBy(0,10000)")

In [115]:
images =  driver.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")

In [116]:
img_urls = []

# getting the url of each images
for image in images:
    source = image.get_attribute('src')
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)

In [117]:
for i in range(len(img_urls)):
    if i >= 10:
        break
    print("Downloading {0} of {1} images".format(i,10)) 
    response = requests.get(img_urls[i])
    file = open(r"C:\Users\USER\scrap image"+ str(i)+".jpg","wb")
    file.write(response.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images

In [118]:
driver.close()

In [119]:
driver = webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
url = 'https://images.google.com/?gws_rd=ssl'
driver.get(url)

In [120]:
search_bar = driver.find_element_by_xpath('//*[@id="APjFqb"]')
search_bar.send_keys("Machine Learning")
search_button = driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span')
search_button.click()

In [123]:
for i in range(500):
    driver.execute_script("window.scrollBy(0,10000)")

In [124]:
img_urls = []
images =  driver.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")
for image in images:
    source = image.get_attribute('src')
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)

In [125]:
for i in range(len(img_urls)):
    if i >= 10:
        break
    print("Downloading {0} of {1} images".format(i,10)) 
    response = requests.get(img_urls[i])
    file = open(r"C:\Users\USER\scrap image"+ str(i)+".jpg","wb")
    file.write(response.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images

In [126]:
driver.close()

In [127]:
driver = webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
url = 'https://images.google.com/?gws_rd=ssl'
driver.get(url)

In [128]:
search_bar = driver.find_element_by_xpath('//*[@id="APjFqb"]')
search_bar.send_keys("Guitar")
search_button = driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span')
search_button.click()

In [129]:
for i in range(500):
    driver.execute_script("window.scrollBy(0,10000)")

In [130]:
img_urls = []
images =  driver.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")
for image in images:
    source = image.get_attribute('src')
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)

In [131]:
for i in range(len(img_urls)):
    if i >= 10:
        break
    print("Downloading {0} of {1} images".format(i,10)) 
    response = requests.get(img_urls[i])
    file = open(r"C:\Users\USER\scrap image"+ str(i)+".jpg","wb")
    file.write(response.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images

In [132]:
driver.close()

In [133]:
driver = webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
url = 'https://images.google.com/?gws_rd=ssl'
driver.get(url)

In [134]:
search_bar = driver.find_element_by_xpath('//*[@id="APjFqb"]')
search_bar.send_keys("Cakes")
search_button = driver.find_element_by_xpath('/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/button/div/span')
search_button.click()

In [135]:
for i in range(500):
    driver.execute_script("window.scrollBy(0,10000)")

In [136]:
img_urls = []
images =  driver.find_elements_by_xpath("//img[@class='rg_i Q4LuWd']")
for image in images:
    source = image.get_attribute('src')
    if source is not None:
        if(source[0:4] == 'http'):
            img_urls.append(source)

In [137]:
for i in range(len(img_urls)):
    if i >= 10:
        break
    print("Downloading {0} of {1} images".format(i,10)) 
    response = requests.get(img_urls[i])
    file = open(r"C:\Users\USER\scrap image"+ str(i)+".jpg","wb")
    file.write(response.content)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images

In [138]:
driver.close()

# 4

Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com
and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand 
Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”, 
“Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the 
details is missing then replace it by “- “. Save your results in a dataframe and CSV.

In [86]:
driver = webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
url = 'http://www.flipkart.com/'
driver.get(url)

In [87]:
button=driver.find_element_by_xpath("//button[@class = '_2KpZ6l _2doB4z']").click()

In [88]:
search_bar = driver.find_element_by_name('q').send_keys("Oneplus Nord")
search=driver.find_element_by_class_name("L0Z3Pu").click()

In [89]:
urls = []
url = driver.find_elements_by_xpath("//a[@class='_1fQZEK']")
for i in url:
    urls.append(i.get_attribute("href"))

In [133]:

brand_name=[]
smartphone_name=[]
color=[]
RAM=[] 
ROM=[]
primary_camera=[]
secondary_camera=[]
display_size=[]
battery_capacity=[]
price=[]

In [134]:
for i in urls:
    driver.get(i)
    time.sleep(4)
    
    try:
        driver.find_element_by_xpath("//button[@class ='_2KpZ6l _1FH0tX']").click()
    except NoSuchElementException:
        print("exception occured.Move to next page")
        
    try:
        b = driver.find_element_by_xpath("//span[@class='B_NuCI']")
        brand_name.append(" ".join(b.text.split()[0:2]))
    except NoSuchElementException:
        brand_name.append("--")
        
    
    try:
        b = driver.find_element_by_xpath("//div[@class='_1UhVsV']//div[1]/table/tbody/tr[3]/td[2]/ul/li")
        smartphone_name.append(b.text)
    except NoSuchElementException:
        smartphone_name.append("--")
  
    
    try:
        b = driver.find_element_by_xpath("//div[@class='_1UhVsV']//div[1]/table/tbody/tr[4]/td[2]/ul/li")
        color.append(b.text)
    except NoSuchElementException:
        color.append("--")
    
   
    try:
        b = driver.find_element_by_xpath("//li[@class='_21Ahn-']")
        RAM.append(b.text)
    except NoSuchElementException:
        RAM.append("--")
   
    try:
        b = driver.find_element_by_xpath('//div[@class="_1UhVsV"]//div[5]/table/tbody/tr/td[2]/ul/li')
        primary_camera.append(b.text)
    except NoSuchElementException:
        primary_camera.append("--")
        
        
    try:
        b = driver.find_element_by_xpath('//div[@class="_1UhVsV"]//div[2]/table/tbody/tr[1]/td[2]/ul/li')
        display_size.append(b.text)
    except NoSuchElementException:
        display_size.append("--")
        
    try:
        b = driver.find_element_by_xpath('//div[@class="_1UhVsV"]//div[7]/table/tbody/tr/td[2]/ul/li')
        battery_capacity.append(b.text)
    except NoSuchElementException:
        battery_capacity.append("--")
            
       
    try:
        b = driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        price.append(b.text)
    except NoSuchElementException:
        price.append("--")

In [135]:
df =pd. DataFrame({})
df["Brand_name"] = brand_name
df["Product_Name"] = smartphone_name
df["color"] = color
df["RAM"] = RAM
df["Price"] = price
#df["ROM"] = ROM
df["Primary camera"] = primary_camera
#df["Secondary camera"] = secondary_camera
df["Display_size"] = display_size
df["Battery_Capacity"] = battery_capacity
df["URL"] = urls
df.head()

,Brand_name,Product_Name,color,RAM,Price,Primary camera,Display_size,Battery_Capacity,URL
0,OnePlus Nord,Nord CE 2 Lite 5G,Black Dusk,6 GB RAM | 128 GB ROM,"₹19,062",64MP Rear Camera,16.74 cm (6.59 inch),5000 mAh,https://www.flipkart.com/oneplus-nord-ce-2-lit...
1,OnePlus Nord,Nord CE 2 Lite 5G,Blue Tide,8 GB RAM | 128 GB ROM,"₹21,998",64MP Rear Camera,16.74 cm (6.59 inch),5000 mAh,https://www.flipkart.com/oneplus-nord-ce-2-lit...
2,OnePlus Nord,Nord CE 2 Lite 5G,Blue Tide,6 GB RAM | 128 GB ROM,"₹19,488",64MP Rear Camera,16.74 cm (6.59 inch),5000 mAh,https://www.flipkart.com/oneplus-nord-ce-2-lit...
3,OnePlus Nord,Nord CE 2 Lite 5G,Black Dusk,8 GB RAM | 128 GB ROM,"₹21,928",64MP Rear Camera,16.74 cm (6.59 inch),5000 mAh,https://www.flipkart.com/oneplus-nord-ce-2-lit...
4,OnePlus Nord,Nord 2T 5G,Gray Shadow,8 GB RAM | 128 GB ROM,"₹28,995",50MP Rear Camera,17.02 cm (6.7 inch),4500 mAh,https://www.flipkart.com/oneplus-nord-2t-5g-gr...

In [136]:
df.to_csv("smartphone_details.csv", index=False)

In [137]:
df = pd.read_csv("smartphone_details.csv")
df.head()

,Brand_name,Product_Name,color,RAM,Price,Primary camera,Display_size,Battery_Capacity,URL
0,OnePlus Nord,Nord CE 2 Lite 5G,Black Dusk,6 GB RAM | 128 GB ROM,"₹19,062",64MP Rear Camera,16.74 cm (6.59 inch),5000 mAh,https://www.flipkart.com/oneplus-nord-ce-2-lit...
1,OnePlus Nord,Nord CE 2 Lite 5G,Blue Tide,8 GB RAM | 128 GB ROM,"₹21,998",64MP Rear Camera,16.74 cm (6.59 inch),5000 mAh,https://www.flipkart.com/oneplus-nord-ce-2-lit...
2,OnePlus Nord,Nord CE 2 Lite 5G,Blue Tide,6 GB RAM | 128 GB ROM,"₹19,488",64MP Rear Camera,16.74 cm (6.59 inch),5000 mAh,https://www.flipkart.com/oneplus-nord-ce-2-lit...
3,OnePlus Nord,Nord CE 2 Lite 5G,Black Dusk,8 GB RAM | 128 GB ROM,"₹21,928",64MP Rear Camera,16.74 cm (6.59 inch),5000 mAh,https://www.flipkart.com/oneplus-nord-ce-2-lit...
4,OnePlus Nord,Nord 2T 5G,Gray Shadow,8 GB RAM | 128 GB ROM,"₹28,995",50MP Rear Camera,17.02 cm (6.7 inch),4500 mAh,https://www.flipkart.com/oneplus-nord-2t-5g-gr...

In [138]:
df[["RAM","ROM"]] = df["RAM"].str.split('|',expand = True)

In [139]:
df.head()

,Brand_name,Product_Name,color,RAM,Price,Primary camera,Display_size,Battery_Capacity,URL,ROM
0,OnePlus Nord,Nord CE 2 Lite 5G,Black Dusk,6 GB RAM,"₹19,062",64MP Rear Camera,16.74 cm (6.59 inch),5000 mAh,https://www.flipkart.com/oneplus-nord-ce-2-lit...,128 GB ROM
1,OnePlus Nord,Nord CE 2 Lite 5G,Blue Tide,8 GB RAM,"₹21,998",64MP Rear Camera,16.74 cm (6.59 inch),5000 mAh,https://www.flipkart.com/oneplus-nord-ce-2-lit...,128 GB ROM
2,OnePlus Nord,Nord CE 2 Lite 5G,Blue Tide,6 GB RAM,"₹19,488",64MP Rear Camera,16.74 cm (6.59 inch),5000 mAh,https://www.flipkart.com/oneplus-nord-ce-2-lit...,128 GB ROM
3,OnePlus Nord,Nord CE 2 Lite 5G,Black Dusk,8 GB RAM,"₹21,928",64MP Rear Camera,16.74 cm (6.59 inch),5000 mAh,https://www.flipkart.com/oneplus-nord-ce-2-lit...,128 GB ROM
4,OnePlus Nord,Nord 2T 5G,Gray Shadow,8 GB RAM,"₹28,995",50MP Rear Camera,17.02 cm (6.7 inch),4500 mAh,https://www.flipkart.com/oneplus-nord-2t-5g-gr...,128 GB ROM

In [140]:
driver.close()

# 5

 Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps

In [141]:
driver = webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
url = 'https://www.google.com/maps'
driver.get(url)

In [143]:
input_city = input("name of place:")

name of place:Bangalore

In [144]:
search_bar = driver.find_element_by_id("searchboxinput").send_keys(input_city)
driver.find_element_by_id("searchbox-searchbutton").click()

In [145]:
# getting the current url
url = driver.current_url
print(url)

https://www.google.com/maps/place/Bengaluru,+Karnataka/@12.9537902,77.3012667,10z/data=!3m1!4b1!4m6!3m5!1s0x3bae1670c9b44e6d:0xf8dfc3e8517e4fe0!8m2!3d12.9715987!4d77.5945627!16zL20vMDljMTc

In [146]:
# finding the latitude and longitude in the url

start = url.find("@") + len("@")
end = url.find("z")
substring = url[start:end]
latitude = substring.split(",")[0]
longitude = substring.split(",")[1]
# printing latitude and longitude
print("latitude:",latitude)
print("longitude",longitude)

latitude: 12.9537902
longitude 77.3012667

In [147]:
driver.close()

# 6

Write a program to scrap all the available details of best gaming laptops from digit.in.

In [63]:
driver = webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
url = 'https://www.digit.in/top-products/best-gaming-laptops-40.html'
driver.get(url)

In [64]:
title = driver.find_elements_by_xpath("//div[@class='TopNumbeHeading' or @class='TopNumbeHeading active']")

In [65]:
titles =[]
for i in title:
    titles.append(i.text.replace('\n',''))
len(title)

10

In [66]:
ps = driver.find_elements_by_xpath("//div[@class='Spcs-details']//table/tbody/tr[2]/td[3]")

In [67]:
processor = []
for i in ps:
    processor.append(i.text.replace('\n',''))
len(processor)

10

In [68]:
dis= driver.find_elements_by_xpath("//div[@class='Spcs-details']//table/tbody/tr[3]/td[3]")

In [69]:
display = []
for i in dis:
    display.append(i.text.replace('\n',''))
len(display)

10

In [70]:
os= driver.find_elements_by_xpath("//div[@class='Spcs-details']//table/tbody/tr[4]/td[3]")

In [71]:
OS= []
for i in os:
    OS.append(i.text.replace('\n',''))
len(OS)

10

In [72]:
memo= driver.find_elements_by_xpath("//div[@class='Spcs-details']//table/tbody/tr[5]/td[3]")
memory = []
for i in memo:
    memory.append(i.text.replace('\n',''))
len(memory)

10

In [73]:
gra= driver.find_elements_by_xpath("//div[@class='Spcs-details']//table/tbody/tr[6]/td[3]")
graphic = []
for i in gra:
    graphic.append(i.text.replace('\n',''))
len(graphic)

10

In [74]:
bo= driver.find_elements_by_xpath("//div[@class='Spcs-details']//table/tbody/tr[7]/td[3]")
body = []
for i in bo:
    body.append(i.text.replace('\n',''))
len(body)

10

In [75]:
price = []
try:
    pr = driver.find_elements_by_xpath("//div[@class='Spcs-details']//table/tbody/tr[8]/td[3]")
    for p in pr:
        price.append(p.text)
except NoSuchElementException:
    price.append("--")

len(price)

9

skip firt laptop because the price of the product is not mentioned

In [79]:
df = pd.DataFrame({})
df["Title"] = titles[1:]
df["Processor"] = processor[1:]
df["OS"] = OS[1:]
df["Display"] = display[1:]
df["Graphics Processor"] = graphic[1:]
df["Memory"] = memory[1:]
df["Body"] = body[1:]
df["Price"] = price
df

,Title,Processor,OS,Display,Graphics Processor,Memory,Body,Price
0,2.Lenovo Legion 7,12th Gen Intel Core i9-12900HX 16 core process...,Windows 11 Home,"16″ (2560 x 1600) screen, 165 Hz refresh rate",16 GB DDR6 NVIDIA GeForce RTX 3080 Ti Graphics...,32 GB DDR4GB RAM & 1 TB SSD,358 x 264 x 19 mm dimension & 2.53 kg weight,"₹ 359,990"
1,3.Alienware X17 R2,12th Gen Intel Core i9-12900H 14 core processo...,Windows 11 Home,"17.3″ (1920 x 1080) screen, 360 Hz refresh rate",16 GB DDR6 NVIDIA GEFORCE RTX 3080 Ti Graphics...,32 GB DDR5GB RAM & 1 TB SSD,299 x 359 x 21 mm dimension & 2.96 kg weight,"₹ 389,990"
2,4.Acer Predator Triton 500 SE PT516-52s,12th Gen Intel Core i7-12700H 14 core processo...,Windows 11,16″ (2560 x 1600) screen,8 GB DDR6 NVIDIA GeForce RTX 3070 Ti Graphics ...,32 GB DDR5GB RAM & 2 TB SSD,262 x 359 x 20 mm dimension & 2.4 kg weight,"₹ 229,990"
3,5.Omen By HP (16-B1371TX),12th Gen Intel Core i7-12700H 14 core processo...,Windows 11 Home,16.1″ (2560 x 1440) screen,8 GB GDDR6 NVIDIA GeForce RTX 3070 Graphics card,8 GB DDR5GB RAM & 1 TB SSD,369 x 248 x 23 mm dimension & 2.32 kg weight,"₹ 177,590"
4,6.Acer Predator Helios 300 AN515-45,AMD Ryzen 9-5900HX 8 core processor,Windows 11 Home,"15.6″ (2560 x 1440) screen, 165 Hz refresh rate",8 GB DDR6 NVIDIA GeForce RTX 3070 Graphics card,16 GB DDR4GB RAM & 512 GB SSD,363 x 255 x 23.9 mm dimension & 2.4 kg weight,"₹ 172,999"
5,7.MSI Delta 15 (A5EFK-083IN),AMD 5th Gen Ryzen 9-5900HX 8 core processor wi...,Windows 11 Home,"15.6″ (1920 x 1080) screen, 240Hz refresh rate",10 GB DDR6 AMD Radeon RX 6700M Graphics card,16 GB DDR4GB RAM & 1 TB SSD,357 x 247 x 19 mm dimension & 1.9 kg weight,"₹ 188,990"
6,8.Omen By HP (16-C0141AX),AMD Ryzen™ 9 5900HX 8 core processor with 3.3 ...,Windows 11 Home,16.1″ (2560 x 1440) screen,8 GB GDDR6 AMD Radeon™ RX 6600M Graphics card,16 GB DDR4GB RAM & 1 TB NVMe,36.92 x 24.8 x 2.3 mm dimension & 2.3 kg weight,"₹ 124,990"
7,9.Lenovo Legion 5i Pro (82RF00MGIN),12th Gen Intel Core i7-12700H 14 core processo...,Windows 11 Home,"16″ (2560 x 1600) screen, 165 Hz refresh rate",6 GB DDR6 NVIDIA GeForce RTX 3060 Graphics card,16 GB DDR5GB RAM & 1 TB SSD,360 x 264 x 20 mm dimension & 2.49 kg weight,"₹ 164,990"
8,10.Alienware M15 R5 Ryzen Edition Icc-C780001win,AMD Ryzen R7-5800H 8 core processor with 4.40 ...,Windows 11 Home,"15.6″ (1920 x 1080) screen, 165Hz refresh rate",6 GB DDR6 NVIDIA GeForce RTX 3060 Graphics card,16 GB DDR4GB RAM & 512 GB SSD,356.2 x 272.5 x 22.85 mm dimension & 2.69 kg w...,"₹ 174,000"

In [80]:
driver.close()

# 7

 Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: 
“Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”

In [84]:
driver = webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
url = 'https://www.forbes.com/billionaires/'
driver.get(url)

In [91]:
co = driver.find_elements_by_xpath("//div[@class='TableRow_cell__db-hv Table_cell__houv9']")
country = []
for i in co:
    country.append(i.text.replace('\n',''))

In [95]:
len(country)

1400

In [96]:
name = country [1::7]

In [98]:
worth = country [2::7]

In [100]:
age = country [3::7]

In [101]:
count = country[4::7]

In [102]:
source = country[5::7]

In [103]:
industry = country [6::7]

In [104]:
df = pd.DataFrame({})
df["Name"]=name
df["Net_Worth"] = worth
df["Age"] = age
df["Country"] = count
df["Source"] = source
df["Industry"] = industry
df

,Name,Net_Worth,Age,Country,Source,Industry
0,Bernard Arnault & family,$211 B,74,France,LVMH,Fashion & Retail
1,Elon Musk,$180 B,51,United States,"Tesla, SpaceX",Automotive
2,Jeff Bezos,$114 B,59,United States,Amazon,Technology
3,Larry Ellison,$107 B,78,United States,Oracle,Technology
4,Warren Buffett,$106 B,92,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...
195,Jin Baofang,$9.6 B,70,China,Solar panels,Energy
196,Luo Liguo & family,$9.6 B,67,China,Chemicals,Manufacturing
197,Marijke Mars,$9.6 B,58,United States,"Candy, pet food",Food & Beverage
198,Pamela Mars,$9.6 B,62,United States,"Candy, pet food",Food & Beverage
199,Valerie Mars,$9.6 B,64,United States,"Candy, pet food",Food & Beverage

In [106]:
driver.close()

# 8

Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted 
from any YouTube Video.

In [116]:
driver = webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
url = 'https://www.youtube.com/watch?v=Q-vW3UKZpkQ'
driver.get(url)

In [120]:
for i in range(500):
    driver.execute_script("window.scrollBy(0,10000)")

In [123]:
com = driver.find_elements_by_id("content-text")
comment = []
for i in com:
    comment.append(i.text.replace('\n',''))
len(comment)

900

In [126]:
ti = driver.find_elements_by_xpath("//a[@class='yt-simple-endpoint style-scope yt-formatted-string']")
time = []
for i in ti:
    time.append(i.text.replace('\n',''))
len(time)

922

In [125]:
vo = driver.find_elements_by_id("vote-count-middle")
vote = []
for i in vo:
    vote.append(i.text.replace('\n',''))
len(vote)

900

In [132]:
df = pd.DataFrame({})
df["Comments"] = comment[:500]
df["Time"] = time[11:511]
df["Vote"] = vote[:500]
df

,Comments,Time,Vote
0,बहुत गर्व हुआ इस movie ने Oscar जीताजय हिन्द 🇮...,1 month ago,99
1,I don't remember the last time I have so much ...,12 days ago (edited),31
2,I have back to watch this movie again after ge...,3 weeks ago (edited),74
3,Bollywood watch and learn something from South...,4 weeks ago,66
4,Won an OSCAR! Congratulations RRR team ️ You P...,1 month ago,127
...,...,...,...
495,,2 weeks ago,
496,,2 weeks ago,
497,Very very very very nice movie,1 month ago,
498,,4 weeks ago,
499,गजब movie,1 month ago,

In [136]:
driver.close()

# 9

Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in 
“London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall 
reviews, privates from price, dorms from price, facilities and property description.

In [260]:
driver = webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32 (3)\chromedriver.exe")
url = 'https://www.hostelworld.com/s?q=London,%20England&country=England&city=London&type=city&id=3&from=2023-04-17&to=2023-04-20&guests=2&page=1'
driver.get(url)

In [240]:
na = driver.find_elements_by_xpath("//h2[@class='title title-6']")
name = []
for i in na:
    name.append(i.text.replace('\n',''))

In [242]:
dis = driver.find_elements_by_xpath("//div[@class='subtitle body-3']//a/span[1]/span")
distance = []
for i in dis:
    distance.append(i.text.replace('\n',''))
    
    
ra = driver.find_elements_by_xpath("//div[@class='score orange big' or @class='score gray big']")
rating = []
for i in ra:
    rating.append(i.text.replace('\n',''))
    
    
re = driver.find_elements_by_xpath("//div[@class='reviews']")
review = []
for i in re:
    review.append(i.text.replace('\n',''))
    
    
ov = driver.find_elements_by_xpath("//div[@class='keyword']/span")
over = []
for i in ov:
    over.append(i.text.replace('\n',''))
    

    
do = driver.find_elements_by_xpath('//div[@class="prices-col"]//a[1]/div[2]/div')
dorms = []
for i in do:
    dorms.append(i.text.replace('\n',''))

In [263]:
facility = []
fa = driver.find_elements_by_xpath('//div[@class="facilities-label facilities"]')
for i in fa:
    facility.append(i.text.replace('\n',''))

In [217]:
private=[]
try:
    pr = driver.find_elements_by_xpath('//div[@class="prices-col"]//a[1]/div[1]/div')
    for p in pr:
        private.append(p.text)
except NoSuchElementException:
    private.append('--')

In [218]:
private

['Rs30161.22 Rs24129',
 'Rs8132',
 'Rs7707',
 'Rs22176',
 'Rs5764',
 'Rs8761',
 'Rs6160',
 'Rs21022',
 'Rs10043',
 'Rs8234.1 Rs7411',
 'Rs4066']

In [207]:
urls=[]
for i in driver.find_elements_by_xpath("//h2[@class='title title-6']/a"):
    urls.append(i.get_attribute('href'))

In [209]:

proprty = []

for i in urls:
    driver.get(i)
    time.sleep(3)


   
    try:
        pro = driver.find_element_by_xpath("//div[@class='content collapse-content']")
        proprty.append(pro.text)
    except NoSuchElementException:
        proprty.append('--')

In [267]:
df = pd.DataFrame({})
df["Hostel Name"] = name[:29]
df["Distance from City Centre"]= distance[:29]
df["Ratings"]= rating[:29]
df["Total Reviews"] = review[:29]
df["Overall Reviews"]= over[:29]
df["Dorms from Price"] = dorms[:29]
df["property description"] = proprty[:29]
df["Fecilities"] = facility [:29]
df

,Hostel Name,Distance from City Centre,Ratings,Total Reviews,Overall Reviews,Dorms from Price,property description,Fecilities
0,Wombat's City Hostel London,- 3.6km from city centre,8.9,14717 Total Reviews,Very Good,Rs4625.75 Rs3701,A safe haven in the middle of the metropolis: ...,Free WiFiFollows Covid-19 sanitation guidance
1,St Christopher's Village,- 1.8km from city centre,7.7,12042 Total Reviews,Fabulous,Rs1610.3 Rs1449,St Christopher's Inn at The Village in London ...,Free WiFiFollows Covid-19 sanitation guidance
2,NX London Hostel,- 6.1km from city centre,8.2,1807 Total Reviews,Very Good,Rs2385,Welcome to NX London Hostel!\n\nPLEASE READ IN...,Free WiFiFree Breakfast
3,Safestay London Elephant & Castle,- 1.7km from city centre,7.5,4897 Total Reviews,Fabulous,Rs1999,Safestay at Elephant & Castle is ideal if you ...,Free WiFiFollows Covid-19 sanitation guidance
4,Generator London,- 3km from city centre,7.4,7427 Total Reviews,Very Good,Rs3022,Generator London is a design hotel-hostel loca...,Free WiFiFollows Covid-19 sanitation guidance
5,Urbany Hostel London,- 5.4km from city centre,9.1,720 Total Reviews,Very Good,Rs2299,"Welcome to Urbany Hostel London, our first int...",Free WiFiFollows Covid-19 sanitation guidance
6,Safestay London Kensington Holland Park,- 5.8km from city centre,7.1,1478 Total Reviews,Superb,Rs1661,Safestay Holland Park\n\nSafestay Holland Park...,Free WiFi
7,No.8 Willesden Hostel London,- 10km from city centre,6.5,4980 Total Reviews,Very Good,Rs1113,At No.8 we take pride in our Customer Service ...,Free WiFiFollows Covid-19 sanitation guidance
8,London Backpackers,- 11.9km from city centre,7.7,4438 Total Reviews,Good,Rs1647,IMPORTANT NOTICE: \n\nThis hostel is for 18 - ...,Free WiFiFollows Covid-19 sanitation guidance
9,Astor Victoria,- 1.8km from city centre,7.6,14931 Total Reviews,Very Good,Rs1931,With Victoria Station and Buckingham Palace a ...,Free WiFiFollows Covid-19 sanitation guidance
10,Phoenix Hostel,- 4.2km from city centre,7.2,4039 Total Reviews,Very Good,Rs2034.18 Rs1932,"The Phoenix Bar & Hostel, housed in a homely E...",Free WiFiFollows Covid-19 sanitation guidance
11,No.8 Seven Sisters,- 9km from city centre,6.0,3983 Total Reviews,Very Good,Rs859,"For Great Facilities, Comfort & Affordability ...",Free WiFiFollows Covid-19 sanitation guidance
12,St Christopher's Camden,- 4.3km from city centre,7.9,4012 Total Reviews,Good,Rs1869.33 Rs1682,"Find our Camden hostel in London's north, smac...",Free WiFiFollows Covid-19 sanitation guidance
13,Clink261,- 3.2km from city centre,8.3,214 Total Reviews,Very Good,Rs2102,Welcome to Clink261!\n\nClink261 is a comforta...,Free WiFiFollows Covid-19 sanitation guidance
14,Queen Elizabeth Chelsea,- 5.7km from city centre,6.9,3444 Total Reviews,Fabulous,Rs1325,PLEASE NOTE WE ONLY ACCEPT GUESTS FROM THE AGE...,Free WiFiFollows Covid-19 sanitation guidance
15,Prime Backpackers Angel,- 3.6km from city centre,8.0,721 Total Reviews,Good,Rs3022,The hostel is housed in a historic building in...,Free WiFi
16,Astor Kensington,- 4.9km from city centre,7.8,6482 Total Reviews,Fabulous,Rs1931,"Located a short walk from Notting Hill, Hyde P...",Free WiFiFollows Covid-19 sanitation guidance
17,Saint James Backpackers,- 5.5km from city centre,8.1,1873 Total Reviews,Very Good,Rs3985,We are located in central London - just 5 minu...,Free WiFiFollows Covid-19 sanitation guidance
18,"PubLove @ The Steam Engine, Waterloo",- 0.5km from city centre,7.9,382 Total Reviews,Fabulous,Rs3558,The heart & soul of London backpacking\nPull u...,Free WiFiFree BreakfastFollows Covid-19 sanita...
19,Park Villa,- 6.3km from city centre,9.0,890 Total Reviews,Very Good,Rs4044,Park Villa is a new boutique hostel in the hea...,Free WiFi
20,Strand Continental,- 1.3km from city centre,7.2,947 Total Reviews,Superb,Rs3253,"Welcome to one of London's cheapest, friendlie...",Free WiFiFollows Covid-19 sanitation guidance
21,St Christopher's Greenwich,- 7.6km from city centre,7.3,3328 Total Reviews,Very Good,Rs1538.77 Rs1385,Discover South London's rich history in the ci...,Follows Covid-19 sanitation guidance
22,Bell House Hostel,- 4.2km from city centre,7.2,48 Total Reviews,Very Good,Rs2043,"Boasting a bar and a shared lounge, Bell House...",Free WiFiFollows Covid-19 sanitation guidance
23,Selina Camden,- 5.5km from city centre,9.5,46 Total Reviews,Very Good,Rs5123,"Among underground music venues, innovative mus...",Free WiFi
24,Kensal Green Backpackers,- 8.2km from city centre,5.0,3705 Total Reviews,Superb,Rs1830,Kensal Green Backpackers is a legendary hostel...,Free WiFi
25,"PubLove @ The White Ferry, Victoria",- 2.4km from city centre,7.5,324 Total Reviews,Rating,Rs4642,"Walk to the river, turn left, and just keep wa...",Follows Covid-19 sanitation guidance
26,Book a Bed Hostels,- 6.9km from city centre,6.5,1241 Total Reviews,Very Good,Rs2166.39 Rs1950,Welcome to Venture Hostel.Venture Hostel is a ...,Free WiFi
27,"PubLove @ The Crown, Battersea",- 4.7km from city centre,7.5,296 Total Reviews,Good,Rs2779,Do London like a local.\nStay just outside the...,Free WiFi
28,Hootananny Hostel,- 5km from city centre,7.5,1502 Total Reviews,Very Good,Rs2511,Hootananny is a lively hostel with spacious ro...,Free WiFi

In [268]:
driver.close()