In [2]:
import selenium
import pandas as pd
import time
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException,ElementNotInteractableException

# Q1)

Write a python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [159]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.naukri.com/'
driver.get(url)

In [160]:
user_inp = input('Enter:')

Enter:Data Analyst

In [161]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys(user_inp)
search_loc =driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

In [162]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [163]:
job_title=[]
job_loc=[]
company=[]
Experiance=[]
for i in range(0,4):
    for j in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
        job_title.append(j.text)
    for k in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span"):
        job_loc.append(k.text)
    for l in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
        company.append(l.text)
    for p in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span"):
        Experiance.append(p.text)

In [164]:
jt=job_title[:10]

In [165]:
jl=job_loc[:10]

In [166]:
cm=company[:10]

In [167]:
ex=Experiance[:10]

In [168]:
Data_Analyst=pd.DataFrame({})
Data_Analyst["Job_Title"]=jt
Data_Analyst["Job_Loc"]=jl
Data_Analyst["Company"]=cm
Data_Analyst["Experiance"]=ex

In [169]:
Data_Analyst

,Job_Title,Job_Loc,Company,Experiance
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Hiring For Data Analyst/ MIS Reporting Analyst...,Bangalore/Bengaluru,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs
2,Data Analyst - Informatica MDM,Bangalore/Bengaluru,Shell India Markets Private Limited,6-9 Yrs
3,Assistant Vice President - MIS & Reporting ( B...,"Mumbai, Bangalore/Bengaluru",INTERTRUSTVITEOS CORPORATE AND FUND SERVICES P...,12-18 Yrs
4,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
5,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
6,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-9 Yrs
7,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,4-8 Yrs
8,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,3-6 Yrs
9,Data Analyst,"Kolkata, Pune, Chennai, Bangalore/Bengaluru, D...",SA Tech Software (I) Pvt. Ltd.,1-3 Yrs

In [170]:
driver.close()

# Q2)

Write a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data

In [3]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.naukri.com/'
driver.get(url)

In [4]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data scientist")
search_loc =driver.find_element_by_id('qsb-location-sugg')
search_loc.send_keys("Bangalore")

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":"[id="qsb-keyword-sugg"]"}
  (Session info: chrome=110.0.5481.178)

In [91]:
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [92]:
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

In [94]:
job_title=[]
job_loc=[]
company=[]
description=[]

In [95]:
for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    
    try:
        job = driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_title.append(job.text)
        
    except NoSuchElementException:
        job_title.append('Nan')
        
    try:
        loc = driver.find_element_by_xpath("//span[@class='location ']/a")
        job_loc.append(loc.text)
        
    except NoSuchElementException:
        job_loc.append('Nan')
        
        
    try:
        com = driver.find_element_by_xpath("//div[@class='jd-header-comp-name']/a")
        company.append(com.text)
             
    except NoSuchElementException:
        company.append('Nan') 
        
        
    try:
        disc =driver.find_element_by_xpath("//section[@class='job-desc']")
        description.append(disc.text)
        
        
    except NoSuchElementException:
        description.append('Nan')

In [96]:
job_loc

['Mumbai',
 'Kolkata',
 'Nan',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Nan',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad',
 'Bangalore/Bengaluru']

In [97]:
job_title

['Data Scientist / Data Analyst -Business Analyst',
 'Senior Data Scientist, Modeling',
 'Nan',
 'Specialist I - Data Scientist',
 'Lead Data Scientist',
 'Nan',
 'SDE Lead Data Scientist-L3',
 'Computational Design Lead Data Scientist-L3',
 'Hiring For DATA Scientist - ON Contract Basis (3-6 Months)',
 'Senior Data Scientist']

In [98]:
company

['Inflexion Analytix Private Limited',
 'Nielsen',
 'Nan',
 'Philips India Limited',
 'Intel Technology India Pvt Ltd',
 'Nan',
 'Huawei Technologies India Pvt Ltd',
 'Huawei Technologies India Pvt Ltd',
 'GlobalEdx Learning and Technology Solution Pvt Ltd',
 'GO-JEK India']

In [99]:
description

["Job description\nJob Role : Data Scientist/Data Analyst /Business Analyst\n\nLocation : Chennai/Bangalore/Hyderabad/Pune/Mumbai/Delhi\n\nGreetings from CAIA - Center for Artificial Intelligence & Advanced Analytics\n43% of companies experienced a high deficit of skilled resources with Advanced Analytical skills and AI implementing capabilities in year 2020. CAIA gives you a great opportunity to enter the world of future technologies and Innovations- Data Science, Analytics, AI, Data Visualization and Cloud Computing.\n\nWhile 2020 was a year like no other, we are living in an interesting times where data is reshaping the world, and businesses are rapidly adopting technology to gain an edge over others. Hence, there's a substantial increase in demand for technology professionals who can implement systems in data science, machine learning and AI in Tier 1 and Tier 2 organization's working closely with us.\n\nTo help you build a sustainable career we would like you to utilize data, software and Analytical approaches in Data Science and AI to up skill and get recruited into an organization appreciating your skilling journey.\nApplications invited from all Freshers and experienced candidates (0-3 yrs) aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIf you wish to make a shift in your career or undergo a career transition, upskilling is essential since it allows you to learn more about the domain and acquire the required skills.\n\nCall to schedule interview Monday -Saturday from 10:00 am to 7Pm\n\nManigandan -+91 7299917200\n\nEmail : manigandan@centerforaia.com\n\nWhat is needed from you?\n\nFreshers who wish to start their career in Analytics and AI and professionals who wish to\nupskill or change their domain to analytics and emerging technologies are free to apply.\nAn Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\nSkills relating to Mathematics/Statistics.\nNatural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\nGood verbal and written communication skills\nAbility to understand domains in businesses across various sectors\n\n\nSelection procedure includes\n\nAptitude Test & Communication Exam - Online / Offline\nSQL/Python test - Online / Offline\n\nCandidates who clears the above will have one-one discussion with our Career Guidance Manager for further evaluation and processing of your Resume.\n\n\nAll the Shortlisted candidates will be eligible to continue the corporate training with CAIA\nWhat you can expect from us?\n\nYou will get trained on the following modules for a period of 12-14 weeks:\n\nSQL & PLSQL\nData Wrangling using Python\nData Visualization Using Power-BI\nStatistics for Machine Learning\nArtificial Intelligence, Data Interpretation\nSupervised & Unsupervised Learning,\nNLP & Deep Learning\nCloud Data Lake\nBusiness intelligence & Data Visualization\nSimulation Projects\nExpected Outcome?\n\nAt the end of the Training you are expected to be well versed with the following:\n\nAnalysis of large and complex data sets from multiple sources\nDevelopment and evaluation of data analytics models, algorithms and solutions\nUnderstanding/implementation of ML algorithms, performance tuning and reporting\nImplementation of algorithms to mine targeted data and the ability to convert data in to a business story\nTranslation of business requirements into technical requirements; Data extraction, preparation and transformation\nIdentification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organization\nRequirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nFinding analytical solutions to abstract business issues.\nApply objective analysis of facts before coming to a conclusion\n\nAbout CAIA - Inflexion Analytix Private Limited\n\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay.\nDigital leaders - 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advance Analytics solutions for Fortune 500 companies.\nOur Website : http://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.\nRoleData Analyst\nIndustry TypeBPO / Call Centre\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nBusiness IntelligenceArtificial IntelligenceBig DataITMachine LearningStatisticsDeep LearningAnalyticsBusiness AnalysisSQLData ScienceNLPCloud ComputingData VisualizationSoftwareData WarehousingPython",
 'Job description\nWe wont say we can predict the future, but our team of Analysts get pretty close, they turn millions of data points into useful information & insights that help our clients to make better decisions on their marketing mix and achieve superior results. Be part of the future and join in on one of the major transformations in the market research industry with the integration of big data and classic marketing mix analysis.\n\nResponsibilities:\nDeliver as a part of our consultant team in driving high quality results on custom project work\nEnsure effective and timely delivery of project work\nWork towards understanding statistical models and deliver business insights and findings\nEnsure compliance to Marketing Mix Modeling modeling practices and company quality standards\nMaximize the efficient and effective use of resources by utilizing appropriate processes and tools\nTo build and maintain effective contacts with other departments to ensure the efficient and effective use of resources\nLiaise with appropriate Marketing Mix Modeling and Nielsen departments to ensure hardware and software requirements are fulfilled\nWork with co/ third party modellers to deliver business insights and findings\n\nQualifications and Skills\n2-5 years of relevant experience\nMasters degree in Economics, Mathematics, Statistics, Engineering\nIn-depth understanding of statistical modeling techniques and applications\nGood and working knowledge of any statistical languages like SAS, R, Pythons\nSolid proficiency of decision making and problem resolution skills\nPassion for results with a challenger mindset\n\nAbout the Team:\nGlobal Product, Technology & Operations supports Nielsen Medias growth strategy by enabling positive client and market solutions. Our Operations Team is in a unique position as the center of data collection, analysis and delivery. We deliver outcomes with the highest quality and integrity standards in an agile and transparent way while standing by our Nielsen values.\n\n\nRoleBusiness Analyst\nIndustry TypeAnalytics / KPO / Research\nFunctional AreaStrategy, Management Consulting, Corporate Planning\nEmployment TypeFull Time, Permanent\nRole CategoryCorporate Planning/Consulting/Strategy\nEducation\nPG :M.A in Economics, MS/M.Sc(Science) in Statistics, Maths, MBA/PGDM in Any Specialization\nKey Skills\nPredictive ModelingSASSegmentationK-MeansStatisticsOptimizationRandom ForestRMarketing Mix ModelingLinear RegressionStatistical ModelingBusiness InsightsMarket Research',
 'Nan',
 'Job description\nResponsibilities and Key Result Areas\nDesign and develop project prototypes and solutions.\nParticipate in project estimation, planning and risk management activities\nIs responsible for delivering input in the planning process to the project leader\nEnsures that there is proper documentation for the developed solutions.\nEnsure compliance to the Quality Management System and regulatory requirements\nKey Technical Skills:\n4 - 7 yrs years of experience in data science\nDeveloped Proficient in algorithms on regression modelling (linear/logistic), supervised and unsupervised classification,\ntree-based techniques (Decision trees /Random forest), neural nets, bagging, Pattern Mining and boosting techniques, etc.\nProficient and hands on experience in developing models using concepts of Artificial Intelligence,\nMachine Learning and Deep Learning related technologies (such as Keras, TensorFlow, pyTorch, Azure ML, AWS ML, Scikit, Jupyter, MatLab etc.)\nExperience with containers like Docker is added advantage\nExperience in Sql\nWorking experience in agile/SAFe development methodologies\nSoft Skill set:\nFast learner. Ability to grasp key concepts quickly with minimal or no supervision\nGo-Getter Attitude. Ability to take ownership of team goals and deliver it with quality and within required timeline\nTeam Player attitude. Key characteristic of the individual who puts the team first before self.\nAbility to think out of box: Ability to come up with bright ideas and always looking at the next big thing in technology\nFlexible and willingness to stretch oneself when needed.\nRoleSoftware Developer\nIndustry TypeMedical Services / Hospital\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nMiningdeep learningdata scienceArtificial IntelligenceMachine learningAgileHTMLRisk managementMATLABSQL',
 'Job description\n\n\nWe are seeking an outstanding Lead Data Scientist in AI/ML who will help our team continue to grow and bring high value to Intel. In this role you should demonstrate excellent problem formulation/definition skills in addition to technical skills. The ideal candidate should be:\n\nA professional role model with deep and wide expertise in state-of-the-art AI/ML techniques, a passion for solving challenging data science problems and extensive hands-on experience.\nBe detail-oriented and have an aptitude for solving unstructured problems. You should be excellent in coming up with different approaches to solve business problem using AI and evaluate the trade-off between them.\nBe self-directed, take charge of opportunities with business impact and drive them to completion.\nHave prior experience in guiding a team of data scientists, coaching and mentoring them.\nHave deep technical expertise in feature-engineering of massive datasets, effective exploratory data analysis, and model building using AI/ML techniques.\nBe a role model innovator by adapting new AI/ML modeling techniques and procedures.\nHave deep expertise in creation and management of datasets.\nHave excellent business and communication skills to be able to work with stakeholders like the business teams, engineering teams and partner teams and align them with respect to your focus area.\nHave the ability to manage and execute an entire AI project from start to finish, including problem solving, data gathering and manipulation, predictive modeling, and project management skills.\nBe a role-model in storytelling with data and articulating the AI problems in an understandable manner to senior leadership of the Business Units.\n\nYou will be a part of the large global AI/ML Research Scientist community and will have access to state-of-the-art training, tools, and methods of the domain.\n\n\nCandidates need to hold at least a masters degree (or higher) in Computer Science/Machine Learning/AI/Data Science\n8 years of relevant experience in building AI/ML models and in using Python (Scikit-learn, TensorFlow/Pytorch) and SQL (or equivalent).\nExperience in using data analysis techniques and ML methods like classification, regression pattern finding, clustering, dimensionality reduction, anomaly detection etc.\nExperience with Hadoop, Spark is an advantage\nDeep Knowledge of classical AI algorithms and Deep Learning techniques is a must.\nGreat analytical skills and demonstrated ability of independent and creative thinking.\nHighly motivated strong team player with the ability to work both independently and collaboratively within a team.\nHas strong analytical skills, including the abilities to scope out business problems to be solved, start from ambiguous problem statements, identify and access relevant data, make appropriate assumptions, perform insightful analysis and draw conclusions relevant to the business problem.\nAbility to present information professionally and concisely with supporting data.\nPrevious experience as a data scientist in semi-conductor industry or data intensive organizations is a plus.\nExperience in creating powerful data driven visualizations to describe ML modeling results to stakeholders.\nRoleTeam Lead/Technical Lead\nIndustry TypeIT Services & Consulting\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nKey Skills\nComputer scienceData analysisFormulationArtificial IntelligenceMachine learningSignal processingPredictive modelingForecastingSQLPython',
 'Nan',
 'Job description\nBusiness & Team overview:\nFounded in 1987, Huawei is a leading global provider of ICT (information and communications technology) infrastructure and smart devices. We are committed to bringing digital to every person, home and organization for a fully connected, intelligent world. We have nearly 194,000 employees, and we operate in more than 170 countries and regions, serving more than 3 billion people around the world.\n\nHuawei Technologies has three business directions: Carrier Business Group, which provides innovative and secure network equipment to telecom carriers, including the leading 5G mobile network.\nEnterprise Business Group, which provides facilities and solutions to big and small companies, including IT facilities.\nConsumer Business Groups, which provides devices to the customer, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and headphones. And also provide solutions on mobile offices, smart homes, sports and health, audio-visual entertainment, and smart travel products.\n\nThis opportunity is belong to Huawei Consumer Business Group.\n\nDriven by the coordinated development of "Chip-Device-Cloud", consumer products such as smartphones are becoming increasingly intelligent and pervasive. The era of smart services is the future.\n\nHuawei Ads Services is dedicated to provide Huawei end-users with high-quality digital experiences, to build a business closed-loop system for Developers and Improve the ROI for the Advertisers\n.\nIn 2020 Q1, along with more than 650 million users and 1,400,000 registered developers worldwide, we have the following unique advantages:\n1. With All-scenario intelligent solution, the Huawei devices become super entrance of traffic, including mobile phones, PC, tablet, TV, audio, glasses, watches, locomotives, and head phones\n2. This team will be responsible for building a new Ad Serving Platform and have the opportunity to define the product for our Huawei end-users.\n3. AI-Driven is the direction of Ads, Huawei is going to build a strong team in India to Innovate and deliver AI-driven Smart Ad Serving Platforms\n\nJob Title: Lead Data Scientist\nWe are looking for a Lead data scientist who will help us discover the information hidden in vast amounts of Ad Campaign data, and help us to optimize the campaign to improve the advertiser ROI and improve the overall consumer experience. Your primary focus will be in applying data mining techniques, doing statistical analysis, and building high quality prediction systems using Deep learning algorithms integrated with our products. Some the key area you will be working on spend recommendation, floor price prediction, CTR/CVR prediction, market funnel analysis and perdition of lead to conversion, etc.\n\nResponsibility:\nAnalyze the data, develop insights and identify the opportunity to utilize the data to predict various Advertisement key indicators like CTR, CVR, Inventory and Develop prediction and optimization algorithms for campaign, look alike modeling, etc for Huawei Ads.\nTakeup key challenges in AI-driven Smart Ad Serving Platform and focus on research and developing leading AI algorithms and productionize for Huawei Ads.\nTakeup initiative in identifying the SOTA and finding key gaps in AI algorithms and develop a world leading AI algorithms for optimizing real-time Ad Serving engine. Identify and optimize the core modules such as Traffic Prediction, Optimization, Ad Targeting/Re-targeting, Ad Performance Optimization, Audience insights, Attribution, Bidding, re-ranking, and Diagnostics. Support hundreds of billions of ad requests per day, with efficiently cache technology.\nTo build and enhance Ad platform features and Prediction capabilities in Huawei Ads Platform\nOptimized Cost Per Mille; Optimized Cost Per Action; Optimized Cost Per Click and Cost per Click. OCPM, OCPA, OCPC.\n\nRequirements:\n- Strong hands-on experience in implementing and validating big data algorithms and models including Deep Learning models like Seq2Seq/ GRU/RNN/LSTM , Knowledge Graph, Massive Graph algorithms, etc.\n- Programming experience with Python\n- Able to validate existing models including Deep Learning models with large scale dataset and able to make changes to the models to achieve better performance\n- AdServing domain Experience is an added advantage\nRoleAnalytics Manager\nIndustry TypeTelecom / ISP\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nKey Skills\nRnnAlgorithmsLstmArtificial IntelligenceData ScientistBig DataData MiningStatistical AnalysisDeep LearningPython',

In [100]:
Data_scientist=pd.DataFrame({})
Data_scientist["Job_title"]=job_title
Data_scientist["Job_location"]=job_loc
Data_scientist["company"] = company
Data_scientist["Description"]=description

In [101]:
Data_scientist

,Job_title,Job_location,company,Description
0,Data Scientist / Data Analyst -Business Analyst,Mumbai,Inflexion Analytix Private Limited,Job description\nJob Role : Data Scientist/Dat...
1,"Senior Data Scientist, Modeling",Kolkata,Nielsen,Job description\nWe wont say we can predict th...
2,Nan,Nan,Nan,Nan
3,Specialist I - Data Scientist,Bangalore/Bengaluru,Philips India Limited,Job description\nResponsibilities and Key Resu...
4,Lead Data Scientist,Bangalore/Bengaluru,Intel Technology India Pvt Ltd,Job description\n\n\nWe are seeking an outstan...
5,Nan,Nan,Nan,Nan
6,SDE Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,Job description\nBusiness & Team overview:\nFo...
7,Computational Design Lead Data Scientist-L3,Bangalore/Bengaluru,Huawei Technologies India Pvt Ltd,Job description\nBusiness & Team overview:\nFo...
8,Hiring For DATA Scientist - ON Contract Basis ...,Hyderabad/Secunderabad,GlobalEdx Learning and Technology Solution Pvt...,"Job description\nDear Aspirant,\n\nGreetings f..."
9,Senior Data Scientist,Bangalore/Bengaluru,GO-JEK India,Job description\nAbout the Role\nFasten your h...

In [102]:
driver.close()

# Q3)

In this question you have to scrape data using the filters available on the 
webpage as shown below:

In [103]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.naukri.com/'
driver.get(url)

In [104]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [105]:
loc_fiters=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/i")
loc_fiters.click()

In [107]:
job_title=[]
job_loc=[]
company=[]
experience=[]

In [108]:
for i in range(0,2):
    
    for j in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
        job_title.append(j.text)
    for k in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span"):
        job_loc.append(k.text)
    for l in driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']/a"):
        company.append(l.text)
    for m in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span"):
        experience.append(m.text)

In [114]:
job=job_title[:10]

In [115]:
loc=job_loc[:10]

In [116]:
co=company[:10]

In [117]:
ex=experience[:10]

In [118]:
df=pd.DataFrame({})
df["Title"]=job
df["Location"]=loc
df["Company"]=co
df["Experience"]=ex

In [119]:
df

,Title,Location,Company,Experience
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Business Analyst- Data Scientist,"Noida, Gurgaon/Gurugram",Wipro,2-5 Yrs
2,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",(12103 Reviews),3-5 Yrs
3,Data Scientist,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",Ravgins International Pvt. Ltd.,3-5 Yrs
4,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",Mobikwik,3-6 Yrs
5,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",(104 Reviews),3-6 Yrs
6,Data Scientist - Noida,Noida,CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,3-5 Yrs
7,Data Scientist,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",CRESCENDO GLOBAL LEADERSHIP HIRING INDIA PRIVA...,4-9 Yrs
8,Data Scientist,Noida,Optum Global Solutions (India) Private Limited,3-5 Yrs
9,Data Scientist,"Bharuch, Jaipur, Bhopal, Mumbai, Jhansi, Nagpu...",(1087 Reviews),1-3 Yrs

In [120]:
driver.close()

# Q4)

Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company

In [175]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.glassdoor.co.in/index.htm'
driver.get(url)

In [85]:
log_in=driver.find_element_by_id('FbButton')
log_in.click()

In [86]:
search_job=driver.find_element_by_name('sc.keyword')
search_job.send_keys('Data Scientist')

In [89]:
loc=driver.find_element_by_id('sc.location')
loc.clear()
loc.send_keys('Noida')

In [90]:
search_btn = driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn.click()

In [91]:
company=[]
days=[]
rating=[]

In [94]:
for i in range(0,3):
    for j in driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']"):
        company.append(j.text)
    for k in driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']"):
        days.append(k.text)
    for l in driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']"):
        rating.append(l.text)

In [95]:
c=company[:10]

['Biz2Credit Inc',
 'Techlive',
 'Ericsson',
 'NatWest Group',
 'Salasar New Age Technologies',
 'Apsidata Solutions',
 'CRMNEXT',
 'dunnhumby',
 'Salasar New Age Technologies',
 'WishFin']

In [96]:
d=days[:10]

In [98]:
r=rating[:10]

In [99]:
df=pd.DataFrame({})
df["Company"]=c
df["No.of days ago"]=d
df["Rating"]=r

In [100]:
df

                        Company No.of days ago Rating
0                Biz2Credit Inc           30d+    3.8
1                      Techlive           30d+    5.0
2                      Ericsson            13d    4.1
3                 NatWest Group             1d    3.9
4  Salasar New Age Technologies           30d+    3.6
5            Apsidata Solutions             4d    4.1
6                       CRMNEXT            12d    3.8
7                     dunnhumby            24h    3.6
8  Salasar New Age Technologies           30d+    4.4
9                       WishFin           30d+    3.6

In [752]:
driver.close()

# Q5)

Write a python program to scrape the salary data for Data Scientist designation 
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary

In [121]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.glassdoor.co.in/Salaries/index.htm'
driver.get(url)

In [122]:
search_job=driver.find_element_by_name('sc.keyword')
search_job.send_keys('Data Scientist')

loc=driver.find_element_by_id('LocationSearch')
loc.clear()
loc.send_keys('Noida')

search_btn = driver.find_element_by_id("HeroSearchButton")
search_btn.click()

In [18]:
min_sal=[]
max_sal=[]
average=[]
number_of_sal=[]
company=[]

In [19]:
for i in range(0,1):
    for j in driver.find_elements_by_xpath("//p[@class='m-0 ']"):
        company.append(j.text)
    for k in driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']"):
        number_of_sal.append(k.text)
    for  l in driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']"):
        average.append(l.text)

In [20]:
url=[]
for i in driver.find_elements_by_xpath("//p[@class='m-0']/a"):
    url.append(i.get_attribute("href"))

In [50]:
for i in url[0:20:2]:
    driver.get(i)
    time.sleep(3)
    
    try:
        minma=driver.find_element_by_xpath('//*[@id="nodeReplace"]/main/div/div/div[1]/div[5]/div[2]/div/div/div[3]/strong[1]')
        min_sal.append(minma.text)
    except NoSuchElementException:
        min_sal.append('NaN')
        
    try:
        maxma=driver.find_element_by_xpath('/html/body/div[3]/div/div/div/div/div/div/div/div[1]/article[2]/div[9]/main/div/div/div[1]/div[5]/div[2]/div/div/div[3]/strong[2]')
        max_sal.append(maxma.text)
    except NoSuchElementException:
        max_sal.append('NaN')

In [56]:
p=max_sal[60:70]

In [53]:
q=min_sal[0:20:2]

In [39]:
r=average[0:10]

In [40]:
s=company[0:10]

In [41]:
t=number_of_sal[0:10]

In [57]:
print(len(p),len(q),len(r),len(s),len(t))

10 10 10 10 10

In [58]:
df=pd.DataFrame({})
df["MIN_Sal"]=q
df["MAX_Sal"]=p
df["Average"]=r
df["NO.Of_Sal"]=t
df["Company"]=s

In [59]:
df

   MIN_Sal   MAX_Sal           Average    NO.Of_Sal                    Company
0      NaN       NaN   ₹ 6,14,306\n/yr  17 salaries  Tata Consultancy Services
1    ₹577K   ₹2,213K  ₹ 11,46,533\n/yr  14 salaries                  Accenture
2    ₹586K   ₹2,730K   ₹ 8,97,795\n/yr  14 salaries                        IBM
3    ₹355K   ₹1,613K   ₹ 7,38,057\n/yr  14 salaries         Ericsson-Worldwide
4    ₹450K  ₹11,622K  ₹ 12,39,781\n/yr  14 salaries                  Delhivery
5  ₹1,069K   ₹1,520K  ₹ 13,36,142\n/yr  11 salaries         UnitedHealth Group
6    ₹502K   ₹1,465K   ₹ 8,15,192\n/yr   9 salaries         Valiance Solutions
7    ₹202K   ₹1,809K  ₹ 11,35,221\n/yr   8 salaries              ZS Associates
8    ₹575K   ₹1,520K  ₹ 11,44,243\n/yr   8 salaries                EXL Service
9  ₹1,014K   ₹2,149K  ₹ 14,13,288\n/yr   8 salaries     Optum Global Solutions

In [123]:
driver.close()

# Q6)

Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes

In [213]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.flipkart.com'
driver.get(url)

In [214]:
product=driver.find_element_by_name('q').send_keys("sunglasses")
search=driver.find_element_by_class_name('L0Z3Pu').click()

In [215]:
brand=[]
description=[]
price=[]
discount=[]

In [216]:
url=[]
for j in range(0,3):
    for i in driver.find_elements_by_xpath("//a[@class='_3bPFwb']"):
        url.append(i.get_attribute('href')) 
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [220]:
for i in url[:100]:
    driver.get(i)
    time.sleep(3)
    
    try:
        j=driver.find_element_by_xpath("//span[@class='G6XhRU']")
        brand.append(j.text)
        
    except NoSuchElementException:
        brand.append('Nan')
        
    try:
        l=driver.find_element_by_xpath("//span[@class='B_NuCI']")
        description.append(l.text)
        
    except NoSuchElementException:
        description.append('Nan')
        
        
    try:
        m=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']/span")
        discount.append(m.text)
        
    except NoSuchElementException:
        discount.append('Nan')
    
    
    try:
        k=driver.find_element_by_xpath("//div[@class='_25b18c']/div")
        price.append(k.text)
    except NoSuchElementException:
        price.append('NaN')

In [221]:
print(len(brand),len(description),len(price),len(discount))

100 100 100 100

In [227]:
df=pd.DataFrame({})
df["Brand"]=brand
df["Discription"]=description
df["Price"]=price
df["Discount"]=discount

In [228]:
df

,Brand,Discription,Price,Discount
0,NuVew,"UV Protection, Gradient Cat-eye Sunglasses (63...",₹375,75% off
1,LIZA ANGEL,"UV Protection, Others, UV Protection, Polarize...",₹209,79% off
2,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Si...,₹399,80% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Siz...,₹630,21% off
4,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹404,79% off
...,...,...,...,...
95,PIRASO,UV Protection Wayfarer Sunglasses (32) (For M...,₹250,84% off
96,NuVew,UV Protection Aviator Sunglasses (58) (For Me...,₹215,72% off
97,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...",₹399,80% off
98,DEIXELS,UV Protection Round Sunglasses (Free Size) (F...,₹209,73% off
99,LIZA ANGEL,"UV Protection, Mirrored, Riding Glasses Retro ...",₹259,67% off

In [229]:
driver.close()

#    Q7)

Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [232]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace'
driver.get(url)

In [198]:
Rating=[] 
Review_summary=[]
Full_review=[]

In [157]:
driver.find_element_by_xpath('//*[@id="container"]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span').click()

In [158]:
for k in range(0,10):
    
    for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(i.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(4)
    except NoSuchElementException:
        Rating.append('Nan')
        
        
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(j.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(4)
    except NoSuchElementException:
        Review_summary.append('Nan')
        
        
        
    for l in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        Full_review.append(l.text)    
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(4)
    except NoSuchElementException:
        Full_review.append('Nan')

In [160]:
print(len(Rating),len(Review_summary),len(Full_review))

100 100 100

In [161]:
df=pd.DataFrame({})
df["Rating"]=Rating
df["Review_summary"]=Review_summary
df["Full_Review"]=Full_review

In [162]:
df

,Rating,Review_summary,Full_Review
0,5,Brilliant,Iphone is just awesome.. battery backup is ver...
1,5,Perfect product!,It’s been almost a month since I have been usi...
2,5,Great product,Awesome Phone. Slightly high price but worth. ...
3,5,Worth every penny,"Excellent camera, good performance, no lag. Th..."
4,4,Good choice,Really worth of money. i just love it. It is t...
...,...,...,...
95,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
96,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
97,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
98,5,Fabulous!,This is my first iOS phone. I am very happy wi...
99,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

In [233]:
driver.close()

# Q8)

Scrape data for first 100 sneakers you find when you visit flipkart.com and 
search for “sneakers” in the search field

In [43]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.flipkart.com/'
driver.get(url)

In [442]:
search_pro=driver.find_element_by_name('q')
search_pro.send_keys("sneakers")
search=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search.click()

In [443]:
Brand=[]
Product_Description=[]
Price=[]
discount=[]

In [127]:
for i in range(0,3):
    
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        Brand.append(j.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(4)
    except NoSuchElementException:
        Brand.append('Nan')
            
            
    for k in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        Product_Description.append(k.text)
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(4)
    except NoSuchElementException:
        Product_Description.append('Nan')
        
    for m in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount.append(m.text)    
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(4)
    except NoSuchElementException:
        discount.append('Nan')

In [445]:
url=[]
for j in range(0,3):
    for i in driver.find_elements_by_xpath("//a[@class='_3bPFwb']"):
        url.append(i.get_attribute('href')) 
    driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
    time.sleep(4)

In [446]:
len(url)

120

In [447]:
for i in url[:100]:
    driver.get(i)
    time.sleep(3)
    
    try:
        h=driver.find_element_by_xpath("//span[@class='G6XhRU']")
        Brand.append(h.text)
    except NoSuchElementException:
        Brand.append('Nan')
        
        
    try:
        j=driver.find_element_by_xpath("//span[@class='B_NuCI']")
        Product_Description.append(j.text)
    except NoSuchElementException:
        Product_Description.append(j.text)
    
    
    try:
        k=driver.find_element_by_xpath("//div[@class='_30jeq3 _16Jk6d']")
        Price.append(k.text)
    except NoSuchElementException:
        price.append('NaN')
        
        
        
    try:
        l=driver.find_element_by_xpath("//div[@class='_3Ay6Sb _31Dcoz pZkvcx']")
        discount.append(l.text)
    except NoSuchElementException:
        discount.append('Nan')

In [448]:
print(len(Brand),len(Price),len(Product_Description),len(discount))

100 100 100 100

In [451]:
df=pd.DataFrame({})
df["Brand"]=Brand
df["Price"]=Price
df["Product Description"]=Product_Description
df["%"]=discount

In [452]:
df

,Brand,Price,Product Description,%
0,SPARX,₹631,"SD-323 Sneakers For Men (White, Black)",15% off
1,SWIGGY,₹719,"Casual Loafers, Sneakers Shoes for Men Pack of...",71% off
2,Jokatoo,₹455,Sneakers For Men (Black),69% off
3,LEVI'S,"₹1,499",Basic 2.0 Sneakers For Men (White),50% off
4,T-ROCK,₹449,Sneakers For Men (Black),55% off
...,...,...,...,...
95,Raftar,₹368,"Sneakers For Men (White, Black)",63% off
96,bluemaker,₹449,casual for men (black 08) Sneakers For Men (B...,55% off
97,ESSENCE,₹442,Sneakers For Men (Navy),55% off
98,Magnolia,₹424,Sneakers For Men (Navy),57% off
99,HOTSTYLE,₹205,Sneakers For Men (Red),58% off

In [44]:
driver.close()

# Q9)

Set Price filter and Color filter

In [199]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.myntra.com/shoes'
driver.get(url)

In [200]:
filter=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
filter.click()

In [201]:
color=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color.click()

In [202]:
Brand=[]
Price=[]
product_des=[]

In [203]:
url=[]
for i in range(0,2):
    for m in driver.find_elements_by_xpath("//li[@class='product-base']/a"):
        url.append(m.get_attribute('href'))
driver.find_element_by_xpath("//a[@rel='next']").click()
time.sleep(4)

In [205]:
for i in url:
    driver.get(i)
    time.sleep(2)
    
    try:
        p=driver.find_element_by_xpath("//span[@class='pdp-price']")
        Price.append(p.text)
        
    except NoSuchElementException:
        Price.append('Nan')
        
        
    try:
        q = driver.find_element_by_xpath("//h1[@class='pdp-title']")
        Brand.append(q.text)   
    except NoSuchElementException:
        Brand.append('Nan')
        
        
    try:  
        r = driver.find_element_by_xpath("//h1[@class='pdp-name']")
        product_des.append(r.text)
        
    except NoSuchElementException:
        product_des.append('Nan')

In [209]:
print(len(Brand),len(Price),len(product_des))

100 100 100

In [210]:
df=pd.DataFrame({})
df["Brand"]=Brand
df["Price"]=Price
df["Pro.Description"]=product_des

In [211]:
df

,Brand,Price,Pro.Description
0,Saint G,Rs. 11800,Women Black Solid Leather Heeled Boots
1,Nike,Rs. 12995,Men Black KD13 EP Mid-Top Basketball Shoes
2,Nike,Rs. 11621,Men Black React Infinity Running Shoe
3,PUMA Motorsport,Rs. 7999,Unisex Black Mercedes Drift Cat 8 Running Shoes
4,Nike,Rs. 12495,Men Black JORDAN DELTA Basketball Shoes
...,...,...,...
95,Cole Haan,Rs. 10999,Men Black Leather GrandPro Tennis Sneakers
96,Cole Haan,Rs. 9999,Men Black ZeroGrand All Day Stitchlite Runner ...
97,Cole Haan,Rs. 14999,Men Black Solid Leather Mid-Top Flat Boots
98,Nike,Rs. 10995,Men Black & Beige JORDAN DELTA Sneakers
99,Nike,Rs. 8995,Men Black AIR ZOOM PEGASUS 38 Running Shoes

In [212]:
driver.close()

# Q10)

set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the 
below image

In [124]:
driver = webdriver.Chrome("chromedriver.exe")
url = 'https://www.amazon.in/'
driver.get(url)

In [125]:
search_bar = driver.find_element_by_id("twotabsearchtextbox")
search_bar.clear()
search_bar.send_keys("Laptop")
search_button = driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']/span/input")
search_button.click()

In [18]:
filter=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[7]/span/a/div/label/i')
filter.click()

In [19]:
url=[]
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    url.append(i.get_attribute("href"))

In [20]:
len(url)

24

In [21]:
title=[]
rating=[]
price=[]

In [28]:
for i in url[:5]:
    driver.get(i)
    time.sleep(3)
    
    try:
        j=driver.find_element_by_id("productTitle")
        title.append(j.text)
    except NoSuchElementException:
        title.append('NAN')
    try:
        k=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[5]/div[37]/div/div/div[1]/div[2]/div[1]/div/div[2]/div/span/span")
        rating.append(k.text)
    except NoSuchElementException:
        rating.append('NAN')
    try:
        l=driver.find_element_by_id("priceblock_dealprice")
        price.append(l.text)
        
    except NoSuchElementException:
        price.append('NAN')

In [29]:
print(len(title),len(rating),len(price))

130 9 111

In [31]:
title

['Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 "(Renewed) HP EliteBook 840 G3 Laptop (Core i7 6th Gen/8GB/500GB/WEBCAM/14'' Touch/DOS)",
 'Asus ROG Zephyrus S Ultra Slim Gaming Laptop, 15.6" 144Hz IPS Type FHD, GeForce RTX 2070, Intel Core i7-8750H, 16GB DDR4, 512GB PCIe NVMe SSD, Aura Sync RGB, Windows 10, GX531GW-AS76',
 'Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6" FHD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2060 6GB GDDR6/with M300 RGB Gaming Mouse/Iron Grey/2.3Kg), 82AW005SIN',
 '(Renewed) Dell Intel 4th Gen Core i7 4600U 14-Inch (35.56 cms) 1366x768 Laptop (4 GB/256 GB SSD/Windows 10/MS Office Pro 2019 /Intel HD Graphics 4600/Silver/1.80 kg), Dell Lattitude E7440',
 'CUK VivoBook K571 by ASUS 15 Inch Gaming Laptop (Intel Core i7, 16GB RAM, 256GB NVMe SSD + 1TB HDD, NVIDIA GeForce GTX 1650 Ti 4GB, 15.6" FHD, Windows 10 Home) Thin Notebook Computer',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'OMEN by HP 15.6-inch 10th Gen Intel Core i7-10870H Processor FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/144Hz Refresh Rate/Win 10/NVIDIA RTX 3060 6GB/Shadow Black), 15-ek1017TX',
 'Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch Display 1920 x 1080 Gaming Laptop (8GB Ram/1 TB HDD/256 GB SSD/Window 10 Home/4GB NVIDIA GeForce GTX 1650 Graphics/Black), AN517-51',
 '(Renewed) Lenovo Intel 4th Gen Core i7-4980HQ 12.5-Inch (31.75 cms) Touchscreen Full HD (1920 X 1080) Pixels Laptop (8 GB/500 GB/Windows 10 Pro/Black/3 Kg), LENOVO THINKPAD YOGA S1',
 '2019 HP 17.3" HD+ Touchscreen Laptop Computer',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS',
 'Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14" FHD IPS Thin and Light Laptop (16GB/1TB SSD/Win 10/Office/Intel Iris Xe Graphics/Fingerprint/HD IR Camera/Aluminium Surface/Slate Grey/1.36Kg) 82A3009QIN',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/8GB/512GB SSD/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/4GB/320GB/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'Razer Blade Pro 17 Gaming Laptop 2019',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650 4GB/Shadow Black), 15-dk1151TX',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/16GB/512GB SSD/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'ASUS ZenBook Duo 14 (2021), Intel Core i7-1165G7 11th Gen, 14-inch FHD Dual-Screen Touch Laptop (16GB/1TB SSD/2GB GeForce MX450 GPU/Office 2019/Windows 10/Celestial Blue/1.62 Kg), UX482EG-KA711TS',
 '(Renewed) Lenovo T430 14-inch Laptop (Core i7/ 4GB RAM (Upgradable to 16)/500GB HDD/Windows 10 Pro/MS Office 2019, Intel Integrated Graphics, PAN INDIA WARRANTY) Black',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10), ZED AIR CX7',
 'Lenovo 2019 Yoga C930 2-in-1 13.9" 4K UHD Touch-Screen Laptop (Intel i7, 16GB DDR4, 1TB PCI-e SSD, 2X Thunderbolt 3, Dolby Atmos Audio, Webcam, WiFi, Windows 10, Active Pen, 3 LBS, 0.6", Mica)',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 "(Renewed) HP EliteBook 840 G3 Laptop (Core i7 6th Gen/8GB/500GB/WEBCAM/14'' Touch/DOS)",
 'Asus ROG Zephyrus S Ultra Slim Gaming Laptop, 15.6" 144Hz IPS Type FHD, GeForce RTX 2070, Intel Core i7-8750H, 16GB DDR4, 512GB PCIe NVMe SSD, Aura Sync RGB, Windows 10, GX531GW-AS76',
 'Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6" FHD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2060 6GB GDDR6/with M300 RGB Gaming Mouse/Iron Grey/2.3Kg), 82AW005SIN',
 '(Renewed) Dell Intel 4th Gen Core i7 4600U 14-Inch (35.56 cms) 1366x768 Laptop (4 GB/256 GB SSD/Windows 10/MS Office Pro 2019 /Intel HD Graphics 4600/Silver/1.80 kg), Dell Lattitude E7440',
 'CUK VivoBook K571 by ASUS 15 Inch Gaming Laptop (Intel Core i7, 16GB RAM, 256GB NVMe SSD + 1TB HDD, NVIDIA GeForce GTX 1650 Ti 4GB, 15.6" FHD, Windows 10 Home) Thin Notebook Computer',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'OMEN by HP 15.6-inch 10th Gen Intel Core i7-10870H Processor FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/144Hz Refresh Rate/Win 10/NVIDIA RTX 3060 6GB/Shadow Black), 15-ek1017TX',
 'Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch Display 1920 x 1080 Gaming Laptop (8GB Ram/1 TB HDD/256 GB SSD/Window 10 Home/4GB NVIDIA GeForce GTX 1650 Graphics/Black), AN517-51',
 '(Renewed) Lenovo Intel 4th Gen Core i7-4980HQ 12.5-Inch (31.75 cms) Touchscreen Full HD (1920 X 1080) Pixels Laptop (8 GB/500 GB/Windows 10 Pro/Black/3 Kg), LENOVO THINKPAD YOGA S1',
 '2019 HP 17.3" HD+ Touchscreen Laptop Computer',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS',
 'Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14" FHD IPS Thin and Light Laptop (16GB/1TB SSD/Win 10/Office/Intel Iris Xe Graphics/Fingerprint/HD IR Camera/Aluminium Surface/Slate Grey/1.36Kg) 82A3009QIN',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/8GB/512GB SSD/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/4GB/320GB/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'Razer Blade Pro 17 Gaming Laptop 2019',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650 4GB/Shadow Black), 15-dk1151TX',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/16GB/512GB SSD/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'ASUS ZenBook Duo 14 (2021), Intel Core i7-1165G7 11th Gen, 14-inch FHD Dual-Screen Touch Laptop (16GB/1TB SSD/2GB GeForce MX450 GPU/Office 2019/Windows 10/Celestial Blue/1.62 Kg), UX482EG-KA711TS',
 '(Renewed) Lenovo T430 14-inch Laptop (Core i7/ 4GB RAM (Upgradable to 16)/500GB HDD/Windows 10 Pro/MS Office 2019, Intel Integrated Graphics, PAN INDIA WARRANTY) Black',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10), ZED AIR CX7',
 'Lenovo 2019 Yoga C930 2-in-1 13.9" 4K UHD Touch-Screen Laptop (Intel i7, 16GB DDR4, 1TB PCI-e SSD, 2X Thunderbolt 3, Dolby Atmos Audio, Webcam, WiFi, Windows 10, Active Pen, 3 LBS, 0.6", Mica)',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 "(Renewed) HP EliteBook 840 G3 Laptop (Core i7 6th Gen/8GB/500GB/WEBCAM/14'' Touch/DOS)",
 'Asus ROG Zephyrus S Ultra Slim Gaming Laptop, 15.6" 144Hz IPS Type FHD, GeForce RTX 2070, Intel Core i7-8750H, 16GB DDR4, 512GB PCIe NVMe SSD, Aura Sync RGB, Windows 10, GX531GW-AS76',
 'Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6" FHD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2060 6GB GDDR6/with M300 RGB Gaming Mouse/Iron Grey/2.3Kg), 82AW005SIN',
 '(Renewed) Dell Intel 4th Gen Core i7 4600U 14-Inch (35.56 cms) 1366x768 Laptop (4 GB/256 GB SSD/Windows 10/MS Office Pro 2019 /Intel HD Graphics 4600/Silver/1.80 kg), Dell Lattitude E7440',
 'CUK VivoBook K571 by ASUS 15 Inch Gaming Laptop (Intel Core i7, 16GB RAM, 256GB NVMe SSD + 1TB HDD, NVIDIA GeForce GTX 1650 Ti 4GB, 15.6" FHD, Windows 10 Home) Thin Notebook Computer',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'OMEN by HP 15.6-inch 10th Gen Intel Core i7-10870H Processor FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/144Hz Refresh Rate/Win 10/NVIDIA RTX 3060 6GB/Shadow Black), 15-ek1017TX',
 'Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch Display 1920 x 1080 Gaming Laptop (8GB Ram/1 TB HDD/256 GB SSD/Window 10 Home/4GB NVIDIA GeForce GTX 1650 Graphics/Black), AN517-51',
 '(Renewed) Lenovo Intel 4th Gen Core i7-4980HQ 12.5-Inch (31.75 cms) Touchscreen Full HD (1920 X 1080) Pixels Laptop (8 GB/500 GB/Windows 10 Pro/Black/3 Kg), LENOVO THINKPAD YOGA S1',
 '2019 HP 17.3" HD+ Touchscreen Laptop Computer',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS',
 'Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14" FHD IPS Thin and Light Laptop (16GB/1TB SSD/Win 10/Office/Intel Iris Xe Graphics/Fingerprint/HD IR Camera/Aluminium Surface/Slate Grey/1.36Kg) 82A3009QIN',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/8GB/512GB SSD/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/4GB/320GB/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'Razer Blade Pro 17 Gaming Laptop 2019',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650 4GB/Shadow Black), 15-dk1151TX',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/16GB/512GB SSD/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'ASUS ZenBook Duo 14 (2021), Intel Core i7-1165G7 11th Gen, 14-inch FHD Dual-Screen Touch Laptop (16GB/1TB SSD/2GB GeForce MX450 GPU/Office 2019/Windows 10/Celestial Blue/1.62 Kg), UX482EG-KA711TS',
 '(Renewed) Lenovo T430 14-inch Laptop (Core i7/ 4GB RAM (Upgradable to 16)/500GB HDD/Windows 10 Pro/MS Office 2019, Intel Integrated Graphics, PAN INDIA WARRANTY) Black',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10), ZED AIR CX7',
 'Lenovo 2019 Yoga C930 2-in-1 13.9" 4K UHD Touch-Screen Laptop (Intel i7, 16GB DDR4, 1TB PCI-e SSD, 2X Thunderbolt 3, Dolby Atmos Audio, Webcam, WiFi, Windows 10, Active Pen, 3 LBS, 0.6", Mica)',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 "(Renewed) HP EliteBook 840 G3 Laptop (Core i7 6th Gen/8GB/500GB/WEBCAM/14'' Touch/DOS)",
 'Asus ROG Zephyrus S Ultra Slim Gaming Laptop, 15.6" 144Hz IPS Type FHD, GeForce RTX 2070, Intel Core i7-8750H, 16GB DDR4, 512GB PCIe NVMe SSD, Aura Sync RGB, Windows 10, GX531GW-AS76',
 'Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6" FHD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2060 6GB GDDR6/with M300 RGB Gaming Mouse/Iron Grey/2.3Kg), 82AW005SIN',
 '(Renewed) Dell Intel 4th Gen Core i7 4600U 14-Inch (35.56 cms) 1366x768 Laptop (4 GB/256 GB SSD/Windows 10/MS Office Pro 2019 /Intel HD Graphics 4600/Silver/1.80 kg), Dell Lattitude E7440',
 'CUK VivoBook K571 by ASUS 15 Inch Gaming Laptop (Intel Core i7, 16GB RAM, 256GB NVMe SSD + 1TB HDD, NVIDIA GeForce GTX 1650 Ti 4GB, 15.6" FHD, Windows 10 Home) Thin Notebook Computer',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'OMEN by HP 15.6-inch 10th Gen Intel Core i7-10870H Processor FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/144Hz Refresh Rate/Win 10/NVIDIA RTX 3060 6GB/Shadow Black), 15-ek1017TX',
 'Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch Display 1920 x 1080 Gaming Laptop (8GB Ram/1 TB HDD/256 GB SSD/Window 10 Home/4GB NVIDIA GeForce GTX 1650 Graphics/Black), AN517-51',
 '(Renewed) Lenovo Intel 4th Gen Core i7-4980HQ 12.5-Inch (31.75 cms) Touchscreen Full HD (1920 X 1080) Pixels Laptop (8 GB/500 GB/Windows 10 Pro/Black/3 Kg), LENOVO THINKPAD YOGA S1',
 '2019 HP 17.3" HD+ Touchscreen Laptop Computer',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS',
 'Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14" FHD IPS Thin and Light Laptop (16GB/1TB SSD/Win 10/Office/Intel Iris Xe Graphics/Fingerprint/HD IR Camera/Aluminium Surface/Slate Grey/1.36Kg) 82A3009QIN',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/8GB/512GB SSD/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/4GB/320GB/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'Razer Blade Pro 17 Gaming Laptop 2019',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650 4GB/Shadow Black), 15-dk1151TX',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/16GB/512GB SSD/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'ASUS ZenBook Duo 14 (2021), Intel Core i7-1165G7 11th Gen, 14-inch FHD Dual-Screen Touch Laptop (16GB/1TB SSD/2GB GeForce MX450 GPU/Office 2019/Windows 10/Celestial Blue/1.62 Kg), UX482EG-KA711TS',
 '(Renewed) Lenovo T430 14-inch Laptop (Core i7/ 4GB RAM (Upgradable to 16)/500GB HDD/Windows 10 Pro/MS Office 2019, Intel Integrated Graphics, PAN INDIA WARRANTY) Black',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10), ZED AIR CX7',
 'Lenovo 2019 Yoga C930 2-in-1 13.9" 4K UHD Touch-Screen Laptop (Intel i7, 16GB DDR4, 1TB PCI-e SSD, 2X Thunderbolt 3, Dolby Atmos Audio, Webcam, WiFi, Windows 10, Active Pen, 3 LBS, 0.6", Mica)',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14-inch FHD IPS 2-in-1 Touchscreen Laptop (16GB/512GB SSD/Win 10/Office 2019/Lenovo Digital Pen Stylus/Fingerprint Reader/Graphite Grey/1.5Kg), 82HS0092IN',
 "(Renewed) HP EliteBook 840 G3 Laptop (Core i7 6th Gen/8GB/500GB/WEBCAM/14'' Touch/DOS)",
 'Asus ROG Zephyrus S Ultra Slim Gaming Laptop, 15.6" 144Hz IPS Type FHD, GeForce RTX 2070, Intel Core i7-8750H, 16GB DDR4, 512GB PCIe NVMe SSD, Aura Sync RGB, Windows 10, GX531GW-AS76',
 'Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6" FHD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2060 6GB GDDR6/with M300 RGB Gaming Mouse/Iron Grey/2.3Kg), 82AW005SIN',
 '(Renewed) Dell Intel 4th Gen Core i7 4600U 14-Inch (35.56 cms) 1366x768 Laptop (4 GB/256 GB SSD/Windows 10/MS Office Pro 2019 /Intel HD Graphics 4600/Silver/1.80 kg), Dell Lattitude E7440',
 'CUK VivoBook K571 by ASUS 15 Inch Gaming Laptop (Intel Core i7, 16GB RAM, 256GB NVMe SSD + 1TB HDD, NVIDIA GeForce GTX 1650 Ti 4GB, 15.6" FHD, Windows 10 Home) Thin Notebook Computer',
 'HP Pavilion (2021) Thin & Light 11th Gen Core i7 Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, 14" (35.56cms) FHD Screen, Windows 10, MS Office, Backlit Keyboard (14-dv0058TU)',
 'OMEN by HP 15.6-inch 10th Gen Intel Core i7-10870H Processor FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/144Hz Refresh Rate/Win 10/NVIDIA RTX 3060 6GB/Shadow Black), 15-ek1017TX',
 'Acer Nitro 5 Intel Core i7-9th Gen 17.3-inch Display 1920 x 1080 Gaming Laptop (8GB Ram/1 TB HDD/256 GB SSD/Window 10 Home/4GB NVIDIA GeForce GTX 1650 Graphics/Black), AN517-51',
 '(Renewed) Lenovo Intel 4th Gen Core i7-4980HQ 12.5-Inch (31.75 cms) Touchscreen Full HD (1920 X 1080) Pixels Laptop (8 GB/500 GB/Windows 10 Pro/Black/3 Kg), LENOVO THINKPAD YOGA S1',
 '2019 HP 17.3" HD+ Touchscreen Laptop Computer',
 'ASUS VivoBook S S14 Intel Core i7-1165G7 11th Gen, 14-inch FHD Thin and Light Laptop (8GB RAM/512GB SSD + 32GB Optane Memory/Windows 10/Office 2019/Iris X Graphics- Indie Black/1.4 Kg), S433EA-AM701TS',
 'Lenovo Yoga Slim 7i 11th Gen Intel Core i7 14" FHD IPS Thin and Light Laptop (16GB/1TB SSD/Win 10/Office/Intel Iris Xe Graphics/Fingerprint/HD IR Camera/Aluminium Surface/Slate Grey/1.36Kg) 82A3009QIN',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650Ti 4GB/Shadow Black), 15-dk1509TX',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/8GB/512GB SSD/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/4GB/320GB/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'Razer Blade Pro 17 Gaming Laptop 2019',
 'HP Pavilion Gaming 10th Gen Intel Core i7 Processor 15.6-inch FHD Gaming Laptop (16GB/512GB SSD + 32GB Intel Optane/Windows 10/NVIDIA 1650 4GB/Shadow Black), 15-dk1151TX',
 '(Renewed) Dell Latitude E6420 14 Inch Laptop (Core I7 2460M/16GB/512GB SSD/Nvidia Dedicated Graphics/Windows Professional/MS Office), Dark Grey',
 'ASUS ZenBook Duo 14 (2021), Intel Core i7-1165G7 11th Gen, 14-inch FHD Dual-Screen Touch Laptop (16GB/1TB SSD/2GB GeForce MX450 GPU/Office 2019/Windows 10/Celestial Blue/1.62 Kg), UX482EG-KA711TS',
 '(Renewed) Lenovo T430 14-inch Laptop (Core i7/ 4GB RAM (Upgradable to 16)/500GB HDD/Windows 10 Pro/MS Office 2019, Intel Integrated Graphics, PAN INDIA WARRANTY) Black',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 8GB RAM, 512GB SSD, Windows 10), ZED AIR CX7',
 'Lenovo 2019 Yoga C930 2-in-1 13.9" 4K UHD Touch-Screen Laptop (Intel i7, 16GB DDR4, 1TB PCI-e SSD, 2X Thunderbolt 3, Dolby Atmos Audio, Webcam, WiFi, Windows 10, Active Pen, 3 LBS, 0.6", Mica)',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen 14-inch (35.56 cms) Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',

In [32]:
price

['49,999',
 '83,990',
 '3,43,099',
 '1,35,490',
 '39,999',
 '1,44,643',
 '84,999',
 '1,34,999',
 '69,990',
 '46,290',
 '2,01,524',
 '81,990',
 '97,990',
 '84,990',
 '39,000',
 '34,000',
 '46,000',
 '1,34,990',
 '32,999',
 '47,050',
 '2,16,327',
 '49,999',
 '83,990',
 '3,43,099',
 '1,35,490',
 '39,999',
 '1,44,643',
 '84,999',
 '1,34,999',
 '69,990',
 '46,290',
 '2,01,524',
 '81,990',
 '97,990',
 '84,990',
 '39,000',
 '34,000',
 '46,000',
 '1,34,990',
 '32,999',
 '47,050',
 '2,16,327',
 '49,999',
 '83,990',
 '3,43,099',
 '1,35,490',
 '39,999',
 '1,44,643',
 '84,999',
 '1,34,999',
 '69,990',
 '46,290',
 '2,01,524',
 '81,990',
 '97,990',
 '84,990',
 '39,000',
 '34,000',
 '46,000',
 '1,34,990',
 '32,999',
 '47,050',
 '2,16,327',
 '49,999',
 '83,990',
 '3,43,099',
 '1,35,490',
 '39,999',
 '1,44,643',
 '84,999',
 '1,34,999',
 '69,990',
 '46,290',
 '2,01,524',
 '81,990',
 '97,990',
 '84,990',
 '39,000',
 '34,000',
 '46,000',
 '1,34,990',
 '32,999',
 '47,050',
 '2,16,327',
 '49,999',
 '83,990',
 '3,43,099',
 '1,35,490',
 '39,999',
 '1,44,643',
 '84,999',
 '1,34,999',
 '69,990',
 '46,290',
 '2,01,524',
 '81,990',
 '97,990',
 '84,990',
 '39,000',
 '34,000',
 '46,000',
 '1,34,990',
 '32,999',
 '47,050',
 '2,16,327',
 '₹ 49,999.00',
 '₹ 49,999.00',
 'NAN',
 'NAN',
 'NAN',
 'NAN']

In [30]:
rating

['4.4 out of 5',
 '4 out of 5',
 '4.3 out of 5',
 '4.3 out of 5',
 '4.4 out of 5',
 '4 out of 5',
 'NAN',
 '4.3 out of 5',
 '4.3 out of 5']

In [33]:
df=pd.DataFrame({})
df["Title"]=title[:5]
df["Rating"]=rating[:5]
df["Price"]=price[:5]

In [34]:
df

                                               Title        Rating     Price
0  Mi Notebook Horizon Edition 14 Intel Core i5-1...  4.4 out of 5    49,999
1  Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...    4 out of 5    83,990
2  (Renewed) HP EliteBook 840 G3 Laptop (Core i7 ...  4.3 out of 5  3,43,099
3  Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...  4.3 out of 5  1,35,490
4  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...  4.4 out of 5    39,999

In [127]:
filter_i9=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[11]/span/a/div/label/i').click()

In [128]:
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
    urls.append(i.get_attribute('href'))

In [129]:
title1=[]
rating1=[]
price1=[]

In [135]:
for i in urls[:5]:
    driver.get(i)
    time.sleep
    try:
        j=driver.find_element_by_id("productTitle")
        title1.append(j.text)
    except NoSuchElementException:
        title1.append("NAN")
        
    try:   
        k=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[5]/div[37]/div/div/div[1]/div[2]/div[1]/div/div[2]/div/span/span')
        rating1.append(k.text)
    except NoSuchElementException:
        rating1.append('NAN')
        
    try:
        l=driver.find_element_by_id("priceblock_ourprice")
        price1.append(l.text)
    except NoSuchElementException:
        price1.append('NAN')

In [145]:
df2=pd.DataFrame({})
df2["Title"]=title1[:5]
df2["Rating"]=rating1[4:9]
df2["Price"]=price1[:5]

In [146]:
df2

,Title,Rating,Price
0,"Dell XPS 9570 15.6"" (39.62cms) UHD Laptop (8th...",NAN,"₹ 2,48,790.00"
1,ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...,2.4 out of 5,NAN
2,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,3.8 out of 5,"₹ 3,04,999.00"
3,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,3.8 out of 5,"₹ 2,62,990.00"
4,"ASUS ROG Zephyrus Duo 15, 15.6"" FHD 300Hz/3ms,...",3.7 out of 5,"₹ 2,66,990.00"

In [147]:
df_new=pd.concat([df,df2],ignore_index=True)
df_new

,Title,Rating,Price
0,Mi Notebook Horizon Edition 14 Intel Core i5-1...,4.4 out of 5,"49,999"
1,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,4 out of 5,"83,990"
2,(Renewed) HP EliteBook 840 G3 Laptop (Core i7 ...,4.3 out of 5,"3,43,099"
3,"Asus ROG Zephyrus S Ultra Slim Gaming Laptop, ...",4.3 out of 5,"1,35,490"
4,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...",4.4 out of 5,"39,999"
5,"Dell XPS 9570 15.6"" (39.62cms) UHD Laptop (8th...",NAN,"₹ 2,48,790.00"
6,ASUS ZenBook Pro Duo UX581 Intel Core i9 9th G...,2.4 out of 5,NAN
7,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,3.8 out of 5,"₹ 3,04,999.00"
8,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,3.8 out of 5,"₹ 2,62,990.00"
9,"ASUS ROG Zephyrus Duo 15, 15.6"" FHD 300Hz/3ms,...",3.7 out of 5,"₹ 2,66,990.00"

In [148]:
driver.close()